﻿@using Microsoft.AspNetCore.Identity
@using MyLib.Data.Models
@using MyLib.ViewModels
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@{
    string Year(int year)
    {
        if (year == 2020)
            return year.ToString();
        else
            return $"2020 - {year}";
    }
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyLib</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/pen_brand.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Jost&family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body onload="getCountReports()">
    @{
        var user = await UserManager.FindByIdAsync(UserManager.GetUserId(User));
    }
    <script>

function getCountReports() {
    $.getJSON('/Report/GetCountReports', function(data) {
        var count = data.toString();
        var list = document.getElementsByClassName('notes');
        if (count == 0) {
            for (var i = 0; i < list.length; i++) {
                list[i].setAttribute('style', 'display: none;');
            }
        }

        for (var i = 0; i < list.length; i++) {
            list[i].innerHTML = count;
        }
    });
}

    </script>
    <header>
        <div class="container-fluid p-0">
            <div class="container">
                <nav class="navbar navbar-dark navbar-expand-md navbar-toggleable-md pl-0 pr-0">
                    @if (User.IsInRole("MainAdmin"))
                    {
                        <div>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                                <span class="badge badge-light notes"></span>
                            </button>
                        </div>
                    }
                    else
                    {
                        <!--<div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>-->
                        <!--Заглушки-->
                        <div>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                                <span class="badge badge-light notes"></span> <!--строчка-заглушка-->
                            </button>
                        </div>
                    }
                    <div>
                        <a class="navbar-brand mr-2 p-0" asp-area="" asp-controller="Home" asp-action="Index">
                            <div class="d-flex flex-row align-items-center" onmouseover="hover(this)" onmouseout="unhover(this)">
                                <img id="nb-b-ico" src="~/images/pen_brand.svg" alt="" width="50" height="50">
                                <div>MyLib</div>
                            </div>

                        </a>
                    </div>

                    <div class="d-block d-md-none dropdown">
                        <button type="button" class="btn dropdown-toggle d-flex align-items-center" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
                            <div style="width: 50px; padding-right: 0px;padding-bottom: 0px;padding-left: 0px;">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="item-responsive item-1by1">
                                        <img class="content" src="@user.ProfileImageUrl" />
                                    </div>
                                }
                                else
                                {
                                    <div class="item-responsive item-1by1">
                                        <img class="content" src="~/images/indexIcons/key.jpg" />
                                    </div>
                                }
                            </div>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="dropdown-item" style="color: #0366d6;" asp-controller="User" asp-action="Profile" asp-route-id="@UserManager.GetUserId(User)">Профиль</a>
                                <form class="dropdown-item" asp-controller="User" asp-action="Detail">
                                    <button type="submit" class="nav-link btn btn-link">Настройки</button>
                                    <input type="hidden" name="UserId" value="@UserManager.GetUserId(User)" />
                                </form>
                                <form class="dropdown-item" asp-controller="Account" asp-action="Logout">
                                    <button type="submit" class="nav-link btn btn-link font-weight-bold">Выйти</button>
                                </form>
                            }
                            else
                            {
                                <a class="dropdown-item font-weight-bold" asp-controller="Account" asp-action="Register">Регистрация</a>
                                <a class="dropdown-item font-weight-bold" asp-controller="Account" asp-action="Login">Войти</a>
                            }
                        </div>
                    </div>

                    <div class="navbar-collapse collapse d-md-inline-flex flex-md-row justify-content-between">
                        <div>
                            <div class="navbar-nav flex-grow-1 flex-row justify-content-between">
                                <div class="nav-item p-0">
                                    <a class="nav-link form-inline" asp-controller="Book" asp-action="Index">Каталог</a>
                                </div>
                                <div class="nav-item p-0 form-inline">
                                    <a class="nav-link" asp-controller="Forum" asp-action="Index">Форум</a>
                                </div>
                                <div class="nav-item p-0">
                                    <a class="nav-link form-inline" asp-controller="FAQ" asp-action="Index">FAQ</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="navbar-nav">
                                @if (SignInManager.IsSignedIn(User) /*&& User.IsInRole("MainAdmin")*/)
                                {
                                    <div class="nav-item form-inline d-flex align-items-center pl-0">
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                                Управление сайтом&nbsp;<span class="badge badge-light notes"></span>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-left" style="background-color: #ddd;">
                                                <a class="dropdown-item" asp-controller="Tag" asp-action="Index">Менеджер тегов</a>
                                                <a class="dropdown-item" asp-controller="Administration" asp-action="RolesList">Менеджер ролей</a>
                                                <a class="dropdown-item" asp-controller="Cluster" asp-action="Index">Кластеризация</a>
                                                <a class="dropdown-item" asp-controller="Report" asp-action="Index">Жалобы пользователей <span class="badge badge-light notes"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="d-none d-md-block d-lg-none dropdown">
                                    <button type="button" class="btn dropdown-toggle d-flex align-items-center" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
                                        <div style="width: 50px; padding-right: 0px;padding-bottom: 0px;padding-left: 0px;">
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <div class="item-responsive item-1by1">
                                                    <img class="content" src="@user.ProfileImageUrl" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="item-responsive item-1by1">
                                                    <img class="content" src="~/images/indexIcons/key.jpg" />
                                                </div>
                                            }
                                        </div>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="background-color: #ddd;">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a class="dropdown-item" style="color: #0366d6;" asp-controller="User" asp-action="Profile" asp-route-id="@UserManager.GetUserId(User)">Профиль</a>
                                            <form class="dropdown-item" asp-controller="User" asp-action="Detail">
                                                <button type="submit" class="nav-link btn btn-link">Настройки</button>
                                                <input type="hidden" name="UserId" value="@UserManager.GetUserId(User)" />
                                            </form>
                                            <form class="dropdown-item" asp-controller="Account" asp-action="Logout">
                                                <button type="submit" class="nav-link btn btn-link font-weight-bold">Выйти</button>
                                            </form>
                                        }
                                        else
                                        {
                                            <a class="dropdown-item font-weight-bold" asp-controller="Account" asp-action="Register">Регистрация</a>
                                            <a class="dropdown-item font-weight-bold" asp-controller="Account" asp-action="Login">Войти</a>
                                        }
                                    </div>
                                </div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="nav-item p-0 form-inline d-none d-lg-flex">
                                        <div style="width: 50px; padding-right: 0px;padding-bottom: 0px;padding-left: 0px;">
                                            <a class="nav-link item-responsive item-1by1" asp-controller="User" asp-action="Profile" asp-route-id="@UserManager.GetUserId(User)">
                                                <img class="content" src="@user.ProfileImageUrl" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="nav-item p-0 form-inline d-none d-lg-flex">
                                        <a class="nav-link" asp-controller="User" asp-action="Profile" asp-route-id="@UserManager.GetUserId(User)">
                                            Профиль
                                        </a>
                                    </div>
                                    <div class="nav-item p-0 form-inline d-none d-lg-flex">
                                        <form class="form-inline" asp-controller="User" asp-action="Detail">
                                            <button type="submit" class="nav-link btn btn-link">Настройки</button>
                                            <input type="hidden" name="UserId" value="@UserManager.GetUserId(User)" />
                                        </form>
                                    </div>
                                    <div class="nav-item p-0 form-inline d-none d-lg-flex">
                                        <form class="form-inline" asp-controller="Account" asp-action="Logout">
                                            <button type="submit" class="nav-link btn btn-link font-weight-bold">Выйти</button>
                                        </form>
                                    </div>
                                }
                                else
                                {
                                    <div class="nav-item p-0 form-inline d-none d-lg-flex">
                                        <a class="nav-link font-weight-bold" asp-controller="Account" asp-action="Register">Регистрация</a>
                                    </div>
                                    <div class="nav-item p-0 form-inline d-none d-lg-flex">
                                        <a class="nav-link font-weight-bold" asp-controller="Account" asp-action="Login">Войти</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer class="border-top footer bg-dark text-white">
        <div class="container">
            &copy; @Year(DateTime.Now.Year) - <span class="mylib">MyLib</span><br />
            <a href="https://vk.com/id10072410" id="devs">bars1k-</a>,
            <a href="https://vk.com/id285685313" id="devs">klllck</a>,
            <a href="https://vk.com/id228143729" id="devs">Dark Fox</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js">class</script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a75a6ced6d.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function hover(element) {
            document.getElementById('nb-b-ico').setAttribute('src', '/images/pen_brand_hover.svg');
        }

        function unhover(element) {
            document.getElementById('nb-b-ico').setAttribute('src', '/images/pen_brand.svg');
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
