﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
#devs {
    color: yellow;
}

@media (max-width: 991px) {
    .container {
        width: 100% !important;
    }
}

.card-header, .card-footer {
    background-color: #a24ffe;
    color: white;
}

.card-clustering {
    background-color: rgba(0, 0, 0, 0.03) !important;
    color: black !important;
}

#card-description {
    border-left: 1px solid #ddd;
    height: 100%;
}

@media (max-width: 767px) {
    #card-description {
        border-left: none;
    }
}

.userStat {
    padding-bottom: .5rem;
    border-bottom: 1px solid #ddd;
}

.container-fluid {
    background-color: #a24ffe;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #fefa4f !important;
    font-family: 'Kaushan Script', cursive;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

a.navbar-brand:hover {
    color: #010350 !important;
}

.navbar {
    background-color: #a24ffe;
}

.features {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #c4c4c4;
}

.col-4 > div {
    font-weight: bold;
    font-size: 2vw !important;
}

.features p {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 15px;
    font-size: 1.25rem;
}

.reading, .discussing, .adding, .ads {
    border-radius: 50%;
    border: 2px solid black;
    width: 70%;
}

.mylib {
    font-family: 'Kaushan Script', cursive;
}
.item-responsive {
    position: relative; /* относительное позиционирование */
}

.item-responsive:before {
    display: block; /* отображать элемент как блок */
    content: ""; /* содержимое псевдоэлемента */
    width: 100%; /* ширина элемента */
}

.item-responsive > .content {
    position: absolute; /* абсолютное положение элемент */
    /* положение элемента */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border: 1px solid white;
    border-radius: 50%
}

.item-1by1 {
    padding-top: 100% !important; /* (1:1)*100% */
}

.usercard {
    font-size: 1rem;
}

@media (min-width: 768px) {
    .usercard {
        font-size: 1.25rem;
    }
}

@media (min-width: 992px) {
    .usercard {
        font-size: 2.2rem;
    }
}

.nav-item {
    padding: 0 .5em;
}

@media (max-width: 991px) {
    .nav-item {
        margin-bottom: 0.25rem;
    }
}

.nav-link {
    padding: 0;
}

#cluster-head {
    border-bottom: 1px solid #ddd;
}

@media (min-width: 768px) {
    #cluster-list {
        border-right: 1px solid #ddd;
    }
}

@media (min-width: 768px) {
    .bookDescr {
        border-left: 1px solid #ddd;
    }
}


#book-card {
    border-bottom: 1px solid #ddd;
}


@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-left: 0;
        padding-right: 0;
    }
}

.donations {
    border-left: 2px solid #c4c4c4;
    font-size: 1.25em;
}

@media (max-width: 767px) {
    .donations {
        border-bottom: 2px solid #c4c4c4;
        font-size: 1.25em;
    }
}

.books-n-don {
    border-bottom: 2px solid #c4c4c4;
}

.cf-main {
    height: 63px;
}

.bt-1px-s-ddd {
    border-top: 1px solid #ddd;
}

.bl-1px-s-ddd {
    border-left: 1px solid #ddd;
}

.br-1px-s-ddd {
    border-right: 1px solid #ddd;
}

.bb-1px-s-ddd {
    border-bottom: 1px solid #ddd;
}

.modal-backdrop {
    z-index: auto !important;
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background-color: #FFE57F;
    margin-bottom: 60px;
    font-family: 'Jost', sans-serif !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 30px;
  text-align: center;/* Vertically center the text there */
}

.myCase {
    margin-top: 10px;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 0.3rem;
    border-color: #999;
    box-shadow: 3px 5px 12px -4px #000;
}

/**************************************/
/**************************************/

/*Forum View*/
/*.sectionHeader {
    background-color: #212121;
    padding: 8px 0 4px 24px;
}*/

.sectionHeading {
    font-size: 1.3em;
    border-bottom: 2px solid #335;
}

.sectionDescription {
    padding: 0 1em;
}

#forumIndexContent {
    padding-bottom: 15px;
}

#forumIndexTable td {
    background-color: rgba(255, 255, 255, 0.8);
}

#forumIndexTable tr:hover {
    background-color: rgba(0, 116, 238, 1);
}

/*Post View*/
.postTitle {
    font-weight: bold;
}

.postSubTitle {
    color: #888;
    font-size: 0.8em;
}

.postData {
    display: inline-block;
}

.postLogo {
    display: inline-block;
    border-radius: 3px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
}

/*.postAuthorImage {
    margin-top: 10px;
    height: 40px;
    width: 70px;
    background-size: 100%;
}*/

/*.postAuthorContainer {
    padding: 0.75rem;
    color: #444;
    width: 190px;
}

.postContentContainer {
    padding: 0 22px;
    color: #222;
    border-left: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}*/
@media (max-width: 767px) {
    .postAuthorContainer {
        border-bottom: 1px solid #ddd;
    }
}

@media (min-width: 768px) {
    .postAuthorContainer {
        border-right: 1px solid #ddd;
    }
}

.postContentContainer p {
    margin-bottom: 0;
}

#last-comment {
    margin: auto 0;
}

#comment-content {
    padding-left: 0;
    margin-left: 15px;
    border-left: 1px solid #ddd;
}

#commentator-photo {
    padding: 0;
}

.overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.textWrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

#postIndexContent {
    display: flex;
    margin-top: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.3);
    border-radius: .3rem;
    padding: 1rem;
}

#postDetailContent {
    display: flex;
    margin-top: 16px;
}

#commentRow {
    background-color: #3F51B5;
    padding: 18px;
    border-radius: .3rem;
    margin-bottom: 1rem;
}

.postHeader {
    background-color: #212121;
    padding: 8px 0px 18px 16px;
}

.postHeading {
    color: white;
    font-size: 1.1em;
    padding: 16px 0 16px 0;
}

.createPostSection {
    background-color: #fff;
    margin-top: 20px;
}

.authorBlock {
    padding: 12px;
    border: 2px dashed #00AFCF;
    margin-bottom: 8px;
}

.postAuthorRating {
    font-size: 0.9em;
    color: #159;
}

.postIndexTitle {
    font-size: 1.4em;
}

.noBorder {
    border: none;
}

.noPosts {
    text-align: center;
    padding-top: 30px;
}

.top {
    font-size: 1.25rem;
}
/*Comment View*/
.replyContent {
    display: flex;
    background-color: #fff;
    border-radius: .3rem;
    margin-bottom: 1rem;
}

#postReplyRow {
    background-color: #3F51B5;
    padding: 8px;
}

/*.replyContentContainer, replyAuthorContainer {
    display: table-cell;
    padding: 12px;
}

.replyAuthorContainer {
    border-right: 1px solid #ddd;
}*/

@media (max-width: 767px) {
    .replyAuthorContainer {
        border-bottom: 1px solid #ddd;
    }
}

@media (min-width: 768px) {
    .replyAuthorContainer {
        border-right: 1px solid #ddd;
    }
}

.isAdmin {
    /*padding: 3px;*/
    background-color: #FFEB3B;
    color: #000;
    border-radius: 0.3rem;
    margin-right: .5rem;
}

#admin {
    padding: 0 .5rem;
}

.smaller {
    font-size: 0.8em;
}

#originalPost {
    background-color: #fff;
    padding: 12px;
    margin-bottom: 8px;
    text-align: center;
}

.hasRecentPost {
    padding: 2px;
    background-color: #fe552f;
    color: #fff;
    text-align: center;
    border-radius: 1px;
}

.postDate {
    color: #888;
    font-size: 0.8em;
}

#author-name {
    font-size: 1.25em;
}

.deleted {
    text-decoration: line-through;
}
/* Catalog View */
.booksImageCell {
    /*max-height: 80%;*/
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.booksImageEdit {
    height:200px;
    width: auto;
}

.searchBar {
    padding: 5px 2px 6px 4px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 8px;
    border: 1px solid black;
    width: 40%;
    height: 1.2em;
    font-size: 1.4em;
    font-weight: bold;
    transition: ease-in 0.2s;
}

.searchBar:focus {
    width: 100%;
    outline: none !important;
    transition: ease-in 0.3s;
    height: 1.2em;
    font-size: 1.6em;
    border-radius: 6px;
    color: black;
    box-shadow: 0 5px 4px -6px #000;
    border: 1px solid blue;
}

/*Book Detail View*/
#bookTitle {
    font-size: 1.6em;
}

#bookAuthor {
    font-size: 1.4em;
}

#bookStatus {
    font-weight: bold;
    font-size: 1.3em;
    text-align: justify;
}

#bookGenre {
    font-size: 1.2em;
}

.bookLabel {
    font-size: 1em;
}

.bookCost {
    text-align: right;
    font-size: 0.9em;
}

.availability {
    padding-top: 20px;
    font-size: 1.2em;
}

.detailInfo {
    padding: 10px;
    font-size: 1.3em;
    color: #555;
}

.detailImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #111;
    border-radius: 6px;
    cursor: pointer;
}

    .detailImage:hover {
        transform: translateY(-10px);
        box-shadow: 3px 5px 12px -4px #000;
        transition: all ease-in-out 200ms;
    }


/*Modal Background*/
/******************/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.4s;
    animation-name: zoom;
    animation-duration: 0.4s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/* Buttons */
.btnPush {
    width: 140px;
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 6px #666;
}

    .btnPush:hover {
        color: #fff;
        box-shadow: 0 4px #444;
        transform: translateY(6px);
        transition: ease-in 0.1s;
    }

    .btnPush:active {
        color: #333;
        filter: brightness(85%);
        transition: ease-in 0.05s;
    }

.btnPush-Primary {
    color: #fff;
    background-color: #1E88E5;
    border-color: #1E88E5;
}

.btnPush-Red {
    color: #fff;
    background-color: #f44336;
    border-color: #f44336;
}

.btnPush-Green{
    color: #fff;
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.btnPush-Dark {
    color: #fff;
    background-color: #424242;
    border-color: #424242;
}

 /**********Other***********/
 /**************************/
.shiftRight {
    position: absolute;
    margin-left: 41%;
}

@media (max-width: 1199px) {
    .showContent {
        opacity: 1;
    }
}

@media (min-width: 1200px) {
    .showContent {
        /*display: none;*/
        opacity: 0.0;
        transition: all 250ms ease-in-out;
    }

    .hiddenContent:hover .showContent {
        /*display: block;*/
        opacity: 1.0;
    }
}


.icons {
    padding: 2px;
    color: #1565C0;
}

.hideTag {
    /*display: none;*/
    opacity: 0;
}

.showTag {
    /*display: block;*/
    opacity: 1;
}

.smallIndent {
    float: left;
    padding: 10px;
}

/*REMOVE THIS SHITTY BTN BLUR EFFECT!!!!!!!!*/
.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover {
    box-shadow: none !important;
    outline: 0;
}