﻿@model MyLib.ViewModels.Book.BookViewModel
@{
    ViewBag.Title = "Добавить книгу";
}

<div class="container myCase">
    <h1>Добавить книгу</h1>
    <div class="col-md-6">
        <form asp-controller="Book" asp-action="AddBook"
              method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Title">Название</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author">Автор</label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year">Год издания</label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre">Жанры (через запятую)</label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
                <label asp-for="Genre">Если вы загружаете стихи, пожалуйста, укажите жанр "Поэзия"</label>
                <label asp-for="Genre">Если вы загружаете пьесу, пожалуйста, укажите жанр "Пьеса"</label>
            </div>
            <div class="form-group">
                <label class="col-form-label" asp-for="Image">Обложка</label>
                <div class="custom-file">
                    <input asp-for="Image" class="form-control custom-file-input" id="imageUrl"/>
                    <label class="custom-file-label image-file">Выберите файл...</label>
                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-row">
                <label asp-for="Description">Описание книги</label>
                <textarea asp-for="Description" rows="10" class="form-control"
                          placeholder="Напишите краткое описание книги..."></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileContent">Содержание книги</label>
                <div class="custom-file">
                    <input asp-for="FileContent" class="form-control custom-file-input" id="textfileUrl" />
                    <label class="custom-file-label text-file">Выберите файл с текстом книги...</label>
                    <label asp-for="FileContent">Пожалуйста, загружайте ваши книги в .txt формате.</label>
                    <label asp-for="FileContent">Если в вашей книге больше одной главы, пожалуйста, поставьте перед каждой главой, начиная со второй, символ |</label>
                </div>
                <span asp-validation-for="FileContent" class="text-danger"></span>
            </div>
            <div class="bs-tooltip-top">
                <button type="submit" class="btnPush btnPush-Primary">Опубликовать</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#imageUrl').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $('.image-file').html(fileName);
            });
        })
        $(document).ready(function () {
            $('#textfileUrl').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $('.text-file').html(fileName);
            });
        })
    </script>
}
