﻿@model MyLib.ViewModels.Book.BookViewModel
@addTagHelper *, MyLib
<div class="container myCase">
    <div class="page-header clearfix detailHeading">
        <h2>Обзор книги</h2>
    </div>
    <div class="row no-gutters bb-1px-s-ddd mb-2">
        <div class="col-12 col-md-3 pr-md-3 pb-2">
            <div>
                <img id="bookImg" class="booksImageCell" src="@Model.ImageUrl" alt="@Model.Title" />
            </div>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
            <p class="text-center" id="rate">Средняя оценка: @Model.Rating (голосов: @ViewBag.Rates)</p>
            @if (Context.User.Identity.IsAuthenticated)
            {
                <form asp-action="RateBook" method="post">
                    <div class="d-flex flex-column align-items-center">
                        <div class="text-center mt-1">
                            <span class="text-warning">
                                <i class="ratingStar far fa-star" data-value="1"></i>
                                <i class="ratingStar far fa-star" data-value="2"></i>
                                <i class="ratingStar far fa-star" data-value="3"></i>
                                <i class="ratingStar far fa-star" data-value="4"></i>
                                <i class="ratingStar far fa-star" data-value="5"></i>
                            </span>
                            <input type="hidden" asp-for="BookId" />
                            <input type="hidden" asp-for="RateValue" id="starValue" />
                        </div>
                        <div class="text-center">
                            @if (!ViewBag.IsVoted)
                            {
                                <button class="btn btn-dark text-center hideTag" type="submit" id="rateBtn">
                                    Подтвердить
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-dark text-center hideTag" type="button" id="rateBtn" onclick="return alert('Вы уже оценили данную книгу!')">
                                    Подтвердить
                                </button>
                            }
                        </div>
                    </div>
                </form>
            }
            else
            {
                <p>Войдите на сайт, чтобы оценить эту книгу</p>
            }
        </div>
        <div class="col-12 col-md-9 bookDecr pl-md-3">
            <div class="tags d-flex flex-column flex-md-row">
                @foreach (var tag in Model.Tags)
                {
                    <div class="mb-2 mb-md-0 mr-md-2">
                        @if (tag.Type == MyLib.Data.Models.TagType.Author)
                        {
                            <button type="button" class="btn p-2 text-light" style="background-color: rgb(127, 21, 136);">
                                @tag.Name
                            </button>
                        }
                        else if (tag.Type == MyLib.Data.Models.TagType.Genre)
                        {
                            <button type="button" class="btn p-2 text-light" style="background-color: rgb(231, 61, 46);">
                                @tag.Name
                            </button>
                        }
                        else if (tag.Type == MyLib.Data.Models.TagType.All)
                        {
                            <button type="button" class="btn p-2 text-light" style="background-color: rgb(32, 125, 122);">
                                @tag.Name
                            </button>
                        }
                    </div>
                }
            </div>
            <div>
                <p id="bookTitle">@Model.Title</p>
                <p id="bookAuthor">@Model.Author</p>
                <p id="bookGenre">@Model.Genre</p>
                <p id="bookIsbn" class="d-none d-md-block">@Model.Description</p>
            </div>
        </div>
    </div>
    <div class="row no-gutters mb-2 bb-1px-s-ddd d-md-none">
        <div class="col">
            <p id="bookIsbn">@Model.Description</p>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-12">
            <!--Предполагалась проверка на количество глав-->
            @if (ViewBag.Heads > 1)
            {
                @for (int i = 0; i < Model.Sentences.Count; i++)
                {
                    <a asp-controller="Book" asp-action="Read" asp-route-id="@Model.BookId" asp-route-chapter="@i"><p>@Model.Sentences[i]</p></a>
                }
            }
            else
            {
                <page-link page-model="Model.Pages" page-action="Detail"></page-link>
                @if (Model.Genre.ToLower().Split(new char[] { ',', ' ' }).ToList().Contains("поэзия"))
                {
                    @foreach (var str in Model.Sentences)
                    {
                        if (str == "\r")
                        {
                            <p class="mb-2 text-center">&nbsp;</p>
                        }
                        else
                        {
                            <p class="mb-2 text-center">@str</p>
                        }
                    }
                }
                else
                {
                    @foreach (var str in Model.Sentences)
                    {
                        if (str == "\r")
                        {
                            <p class="mb-2">&nbsp;</p>
                        }
                        else
                        {
                            <p class="mb-2">@str</p>
                        }
                    }
                }
                <page-link page-model="Model.Pages" page-action="Detail"></page-link>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $.getScript("/Controller/Action");
        });
    </script>

    <script>
        $(".ratingStar").hover(function () {
            $(".ratingStar").addClass("far").removeClass("fas");
            $(this).addClass("fas").removeClass("far");
            $(this).prevAll(".ratingStar").addClass("fas").removeClass("far");
        });

        $(".ratingStar").click(function () {
            $(this).addClass("fas").removeClass("far");
            $(this).prevAll(".ratingStar").addClass("fas").removeClass("far");

            var dataValue = $(this).attr("data-value");
            $("#starValue").val(dataValue);

            $("#rateBtn").addClass("showTag").removeClass("hideTag");
        });
    </script>

    <script>
        var modal = document.getElementById("myModal");

        var img = document.getElementById("bookImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }

        var span = document.getElementsByClassName("close")[0];

        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>
}