﻿@model MyLib.ViewModels.Book.BookViewModel
@{
    ViewBag.Title = "Редактировать книгу";
    var imagePath = Model.ExistingImageUrl ?? "noimage.png";
}

<div class="container myCase">
    <h2>Редактировать книгу</h2>
    <div class="col-md-6">
        <form asp-controller="Book" asp-action="Edit"
              method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="BookId" />
            <input type="hidden" asp-for="ExistingImageUrl" />
            <div class="form-group">
                <label asp-for="Title">Название</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author">Автор</label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year">Год издания</label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre">Жанры (через запятую)</label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
                <label asp-for="Genre">Если вы загружаете стихи, пожалуйста, укажите жанр "Поэзия"</label>
                <label asp-for="Genre">Если вы загружаете пьесу, пожалуйста, укажите жанр "Пьеса"</label>
            </div>
            <div class="form-group">
                <label class="col-form-label" asp-for="Image">Картинка</label>
                <div class="custom-file">
                    <input asp-for="Image" class="form-control custom-file-input" />
                    <label class="custom-file-label">Выберите картинку...</label>
                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label" asp-for="ExistingImageUrl">Текущая картинка</label>
                <img src="@imagePath" class="booksImageCell" asp-append-version="true" />
            </div>
            <div class="form-group">
                <label asp-for="Description">Описание книги</label>
                <textarea asp-for="Description" rows="20" class="form-control" placeholder="Напишите краткое описание книги..."></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="bs-tooltip-top">
                <button type="submit" class="btnPush btnPush-Primary">Редактировать</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        })
    </script>
}