﻿@using Microsoft.AspNetCore.Identity
@inject UserManager<MyLib.Data.Models.User> UserManager
@model MyLib.ViewModels.Book.BookIndexModel
@addTagHelper *, MyLib
@{
    ViewBag.Title = "Каталог";
    string ConvertDate(DateTime date)
    {
        TimeSpan timeDifference = DateTime.Now - date;
        if (timeDifference.TotalDays > 365)
            return date.ToString();
        else
        if (timeDifference.TotalDays > 31)
        {
            int months = (int)timeDifference.TotalDays / 31;
            if (months == 1) return $"{months} месяц назад";
            else if (months <= 4) return $"{months} месяца назад";
            else return $"{months} месяцев назад";
        }
        else
        if (timeDifference.TotalDays > 1)
        {
            int decs = (int)timeDifference.TotalDays / 10;
            int solo = (int)timeDifference.TotalDays % 10;
            if (decs == 1)
                return $"{Math.Floor(timeDifference.TotalDays)} дней назад";
            else
            {
                if (solo == 1) return $"{Math.Floor(timeDifference.TotalDays)} день назад";
                else if (solo >= 2 && solo <= 4) return $"{Math.Floor(timeDifference.TotalDays)} дня назад";
                else return $"{Math.Floor(timeDifference.TotalDays)} дней назад";
            }
        }
        else
        if (timeDifference.TotalHours > 1)
        {
            int decs = (int)timeDifference.TotalHours / 10;
            int solo = (int)timeDifference.TotalHours % 10;
            if (decs == 1)
                return $"{Math.Floor(timeDifference.TotalHours)} часов назад";
            else
            {
                if (solo == 1) return $"{Math.Floor(timeDifference.TotalHours)} час назад";
                else if (solo >= 2 && solo <= 4) return $"{Math.Floor(timeDifference.TotalHours)} часа назад";
                else return $"{Math.Floor(timeDifference.TotalHours)} часов назад";
            }
        }
        else
        if (timeDifference.TotalMinutes > 1)
        {
            int decs = (int)timeDifference.TotalMinutes / 10;
            int solo = (int)timeDifference.TotalMinutes % 10;
            if (decs == 1)
                return $"{Math.Floor(timeDifference.TotalMinutes)} минут назад";
            else
            {
                if (solo == 1) return $"{Math.Floor(timeDifference.TotalMinutes)} минута назад";
                else if (solo >= 2 && solo <= 4) return $"{Math.Floor(timeDifference.TotalMinutes)} минуты назад";
                else return $"{Math.Floor(timeDifference.TotalMinutes)} минут назад";
            }
        }
        else
            return "меньше минуты назад";
    }
    var books = Model.Books.ToList();
}

<div class="container myCase">
    <div class="row no-gutters mb-4">       
        <!--Перед финальным релизом, убирая заглушки, убрать для не-админов теги:
            @if(User.IsInRole("MainAdmin"))
            {
            }
            else
            {

            }
        -->
        <!-- Начало заглушки -->
        <div class="col-12 col-md-8 align-self-center mb-2">
            <form asp-controller="Book" asp-action="Search" method="post">
                <input asp-for="SearchQuery" type="text" class="searchBar m-0" placeholder="Поиск..." />
            </form>
        </div>
        <div class="col-12">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Book" asp-action="Add"
                    class="nav-link btn btnPush btnPush-Primary">
                    Добавить книгу
                </a>
            }
        </div>
        <!-- Конец заглушки -->
    </div>
    <div class="row no-gutters">
        <div class="col-12">
            <h2 class="p-2">Последние добавленные</h2>
            <div class="col-12"><page-link page-model="Model.PageViewModel" page-action="Index"></page-link></div>
            @for (int i = 0; i < books.Count; i++)
            {
                <div class="card mb-4 mt-4">
                    <div class="card-header">
                        <h5 class="card-title overflow">"@books[i].Title" (@books[i].Author)</h5>
                    </div>
                    <div class="card-body pb-2">
                        <div class="row">
                            <div class="col-2 pr-0 d-none d-md-block">
                                <a asp-controller="Book" asp-action="Detail" asp-route-id="@books[i].BookId">
                                    <img class="booksImageCell" src="@books[i].ImageUrl" />
                                </a>
                            </div>
                            <div class="col-12 col-md-10 pr-0">
                                <div class="d-flex flex-column justify-content-between p-0" id="card-description">
                                    <div class="mb-2 ml-md-2">Жанр: <b>@books[i].Genre</b></div>
                                    <div class="mb-2 ml-md-2">Год публикации произведения: <b>@books[i].Year</b></div>
                                    <div class="ml-md-2 text-muted">Опубликована на сайте:</div>
                                    <div class="mb-2 ml-md-2 text-muted">@ConvertDate(books[i].PublicationDate)</div>
                                    <div class="mb-2 ml-md-2 overflow">@books[i].Description</div>
                                    <div class="d-flex flex-column flex-md-row ml-md-2 mb-2">
                                        <div>Рейтинг произведения: </div>
                                        <div class="ml-md-2">@books[i].Rating / 5 (голосов: @ViewBag.Rates[i])</div>
                                    </div>
                                    @if (books[i].UserId == UserManager.GetUserId(User))
                                    {
                                        <div class="mb-2 ml-md-2">
                                            <a asp-action="Edit" asp-route-id="@books[i].BookId" class="btn btn-success">
                                                Редактировать
                                            </a>
                                        </div>
                                        <div class="mb-2 ml-md-2">
                                            <form asp-action="Delete" asp-route-id="@books[i].BookId" method="post">
                                                <button type="submit" class="btn btn-danger"
                                                        onclick="return confirm('Вы точно хотите удалить книгу &quot;@books[i].Title&quot;?')">
                                                    Удалить
                                                </button>
                                            </form>
                                        </div>
                                    }
                                    <div id="card-btn" class="ml-md-2 pb-1 mb-2">
                                        <div>
                                            <a asp-controller="Book" asp-action="Detail" asp-route-id="@books[i].BookId" class="btn btn-primary">
                                                Перейти к чтению
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-12"><page-link page-model="Model.PageViewModel" page-action="Index"></page-link></div>       
    </div>
</div>
