﻿<div class="text-center">
    <img src="~/images/accessdenied.png"/>
    <h1 class="text-danger">Отказано в доступе</h1>
    <h4 class="text-danger">У вас недостаточно прав для доступа к этой странице!</h4>
</div>