﻿@model MyLib.ViewModels.Account.LoginViewModel

<div class="container myCase">
    <h2>Войдите в существующую учетную запись</h2><hr />
    <div class="col-md-6">
        <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
            <div class="form-group">
                <label asp-for="Email">Введите электронную почту</label><br />
                <input class="form-control" asp-for="Email" />
                <span class="text-danger field-validation-valid" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Введите пароль</label><br />
                <input class="form-control" asp-for="Password" />
                <span class="text-danger field-validation-valid" asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <input type="checkbox" class="custom-checkbox" asp-for="RememberMe" />
                <label asp-for="RememberMe">Запомнить меня</label>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
        </form>
    </div>
    <hr />
    <div>
        <h3>
            Для создания новой учетной записи нажмите на кнопку
            <a class="btn btn-success" asp-controller="Account" asp-action="Register">
                Зарегистрироваться
            </a>
        </h3>
    </div>
</div>