﻿@model MyLib.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = "Профиль пользователя";
}

<div class="container myCase">
    <h2>Создайте учетную запись</h2><hr />
    <div class="col-md-6">
        <form method="post" asp-controller="Account" asp-action="Register">
            <div class="form-group">
                <label asp-for="FullName">Ваше имя и фамилия</label><br />
                <input class="form-control" asp-for="FullName" />
                <span class="text-danger field-validation-valid"
                      asp-validation-for="FullName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age">Ваш возраст</label><br />
                <input class="form-control" asp-for="Age" />
                <span class="text-danger field-validation-valid"
                      asp-validation-for="Age"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone">Ваш номер телефона</label><br />
                <input class="form-control" asp-for="Phone" />
                <span class="text-danger field-validation-valid"
                      asp-validation-for="Phone"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">Ваша электронная почта</label><br />
                <input class="form-control" asp-for="Email" />
                <span class="text-danger field-validation-valid"
                      asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Ваш пароль</label><br />
                <input class="form-control" asp-for="Password" />
                <span class="text-danger field-validation-valid"
                      asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirm">Подтверждение пароля</label><br />
                <input class="form-control" asp-for="PasswordConfirm" />
                <span class="text-danger field-validation-valid"
                      asp-validation-for="PasswordConfirm"></span>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</div>