﻿@{
    ViewData["Title"] = "Часто задаваемые вопросы";
}

<div class="container myCase">
    <div class="row no-gutters pb-2 mb-2" id="cluster-head">
        <div class="col-12">
            <h3>Часто задаваемые вопросы</h3>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-12 pr-md-3" id="cluster-list">
            <div id="accordion">


                <div class="card mb-2">
                    <div class="card-header card-clustering" id="heading1">
                        <div>
                            <button class="btn btn-light text-left" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="#collapse1">
                                <h3>Обязательна ли регистрация для прочтения книг?</h3>
                            </button>
                        </div>
                    </div>
                    <div id="collapse1" class="collapse" aria-labelledby="heading1">
                        <div class="card-body">
                            <div class="row mb-2 pb-2">
                                <div class="col-12">
                                    <p>Нет, вы можете читать книги безо всякой регистрации.</p>
                                    <p>Регистрация нужна для загрузки книг, а также для участия в дискуссиях на форуме.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-header card-clustering" id="heading2">
                        <div>
                            <button class="btn btn-light text-left" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="#collapse2">
                                <h3>Как загрузить книгу на сайт?</h3>
                            </button>
                        </div>
                    </div>
                    <div id="collapse2" class="collapse" aria-labelledby="heading2">
                        <div class="card-body">
                            <div class="row mb-2 pb-2">
                                <div class="col-12">
                                    <p>Для того, чтобы загрузить книгу на сайт, необходимо заполнить следующие поля:</p>
                                    <ul>
                                        <li>Название книги</li>
                                        <li>Автор</li>
                                        <li>Год издания</li>
                                        <li>Жанры (если несколько, указать через запятую)</li>
                                        <li>Обложка (необязательно, есть по умолчанию)</li>
                                        <li>Описание книги</li>
                                        <li>Сам файл книги</li>
                                    </ul>
                                    <p><span class="text-danger text-uppercase">Внимание! </span>Загружайте книги исключительно в формате .txt (приложение "Блокнот")</p>
                                    <p><span class="text-danger text-uppercase">Внимание! </span>Если ваша книга - пьеса и/или поэзия - укажите это в жанрах!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-header card-clustering" id="heading3">
                        <div>
                            <button class="btn btn-light text-left" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="#collapse3">
                                <h3>Разбивается ли книга автоматически на главы?</h3>
                            </button>
                        </div>
                    </div>
                    <div id="collapse3" class="collapse" aria-labelledby="heading3">
                        <div class="card-body">
                            <div class="row mb-2 pb-2">
                                <div class="col-12">
                                    <p>Нет, не разбивается.</p>
                                    <p>Для того, чтобы разбить книгу на главы, необходимо проделать следующие действия:</p>
                                    <ol>
                                        <li>Сайт принимает в качестве разделителя вертикальную черту - |</li>
                                        <li>Перед каждой главой, начиная со <span class="text-uppercase">второй, </span>установите данный разделитель разделитель, как показано на рисунке ниже.</li>
                                    </ol>
                                    <img src="~/images/faq.png" alt="Разделение на главы" style="max-width: 100%" />
                                    <p>После данных процедур книга уже становится разбиваемой на главы.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-header card-clustering" id="heading4">
                        <div>
                            <button class="btn btn-light text-left" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="#collapse4">
                                <h3>Можно ли публиковать произведения на иностранном языке?</h3>
                            </button>
                        </div>
                    </div>
                    <div id="collapse4" class="collapse" aria-labelledby="heading4">
                        <div class="card-body">
                            <div class="row mb-2 pb-2">
                                <div class="col-12">
                                    <p>Нет, данный ресурс предназначен для русскоязычных произведений.</p>
                                    <p>Однако, ничто Вам не мешает загружать произведения мировой литературы на русском языке.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-header card-clustering" id="heading5">
                        <div>
                            <button class="btn btn-light text-left" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="#collapse5">
                                <h3>Можно ли редактировать книги?</h3>
                            </button>
                        </div>
                    </div>
                    <div id="collapse5" class="collapse" aria-labelledby="heading5">
                        <div class="card-body">
                            <div class="row mb-2 pb-2">
                                <div class="col-12">
                                    <p>Пользователь может редактировать только <strong>свои</strong> книги.</p>
                                    <p>Редактировать можно лишь данные о самой книге, так как предполагается, что пользователь уже предварительно отформатировал книгу.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-header card-clustering" id="heading6">
                        <div>
                            <button class="btn btn-light text-left" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="#collapse6">
                                <h3>Есть ли какие-либо ограничения по количеству добавляемых книг?</h3>
                            </button>
                        </div>
                    </div>
                    <div id="collapse6" class="collapse" aria-labelledby="heading6">
                        <div class="card-body">
                            <div class="row mb-2 pb-2">
                                <div class="col-12">
                                    <p>Такого ограничения нет. Однако, администрация сайта следит за содержимым каждой книги, и, в случае чего, может удалить книгу, если она содержит "абракадабру" или материалы, содержащие пропаганду экстремизма.</p>
                                    <p>В последнем случае также применяются санкции в виде удаления аккаунта.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-header card-clustering" id="heading7">
                        <div>
                            <button class="btn btn-light text-left" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="#collapse7">
                                <h3>Можно ли делать закладки в книгах?</h3>
                            </button>
                        </div>
                    </div>
                    <div id="collapse7" class="collapse" aria-labelledby="heading7">
                        <div class="card-body">
                            <div class="row mb-2 pb-2">
                                <div class="col-12">
                                    <p>Такая функция находится в процессе разработки :)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-header card-clustering" id="heading8">
                        <div>
                            <button class="btn btn-light text-left" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="#collapse8">
                                <h3>Есть ли возможность восстановить аккаунт после удаления или в случае забытия пароля?</h3>
                            </button>
                        </div>
                    </div>
                    <div id="collapse8" class="collapse" aria-labelledby="heading8">
                        <div class="card-body">
                            <div class="row mb-2 pb-2">
                                <div class="col-12">
                                    <p>В подобных случаях, обращайтесь к разработчикам, контакты которых указаны внизу каждой страницы.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-header card-clustering" id="heading9">
                        <div>
                            <button class="btn btn-light text-left" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="#collapse9">
                                <h3>Можно ли пожаловаться на определённого пользователя?</h3>
                            </button>
                        </div>
                    </div>
                    <div id="collapse9" class="collapse" aria-labelledby="heading9">
                        <div class="card-body">
                            <div class="row mb-2 pb-2">
                                <div class="col-12">
                                    <p>Пожаловаться можно на комментарий, оставленным пользователем.</p>
                                    <p>В случае обнаружения книги с неподобающими материалами раньше администраторов, обратитесь к ним через контакты, указанные внизу каждой страницы.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-header card-clustering" id="heading10">
                        <div>
                            <button class="btn btn-light text-left" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="#collapse10">
                                <h3>Можно ли пожаловаться на комментарий?</h3>
                            </button>
                        </div>
                    </div>
                    <div id="collapse10" class="collapse" aria-labelledby="heading10">
                        <div class="card-body">
                            <div class="row mb-2 pb-2">
                                <div class="col-12">
                                    <p>Да, вы имеете возможность отправить жалобу на определённый комментарий, указав причину.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-header card-clustering" id="heading11">
                        <div>
                            <button class="btn btn-light text-left" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="#collapse11">
                                <h3>Как создать тему для обсуждения?</h3>
                            </button>
                        </div>
                    </div>
                    <div id="collapse11" class="collapse" aria-labelledby="heading11">
                        <div class="card-body">
                            <div class="row mb-2 pb-2">
                                <div class="col-12">
                                    <p>Для того, чтобы создать тему на форуме, необходимо в разделе "Форум" нажать на кнопку "Создать тему", после чего необходимо заполнить следующие поля:</p>
                                    <ul>
                                        <li>Название темы</li>
                                        <li>Сообщение, прилагаемое к теме.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-header card-clustering" id="heading12">
                        <div>
                            <button class="btn btn-light text-left" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="#collapse12">
                                <h3>Как оставить комментарий?</h3>
                            </button>
                        </div>
                    </div>
                    <div id="collapse12" class="collapse" aria-labelledby="heading12">
                        <div class="card-body">
                            <div class="row mb-2 pb-2">
                                <div class="col-12">
                                    <p>Для того, чтобы оставить комментарий, необходимо из раздела "Форум" перейти по ссылке темы (нажать на название темы).</p>
                                    <p>Под темой и сообщением к нему расположено поле для текста, в котором вы и можете написать свой комментарий.</p>
                                    <p>Вы вправе изменять и/или удалять свои комментарии.</p>
                                    <p>Также, Вы можете пожаловаться на комментарии других пользователей, если:</p>
                                    <ol>
                                        <li>Комментарий содержит спам или является непристойным</li>
                                        <li>Комментарий содержит в себе пропаганду экстремистких или близких к нему течений</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

