﻿@using Microsoft.AspNetCore.Identity
@model MyLib.ViewModels.Forum.PostViewModel
@inject UserManager<User> UserManager
@using MyLib.Data.Models;
@{
    var user = await UserManager.FindByIdAsync(UserManager.GetUserId(User));
}

<div class="container">
    <div class="myCase">
        <h3>Создание новой темы</h3>
        <div class="authorBlock">
            Вы создаете тему от имени <strong>@user.FullName</strong>
        </div>
        <form asp-action="Create" method="post" id="addPostForm">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title">Название</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content">Сообщение</label>
                <textarea asp-for="Content" rows="10" class="form-control" placeholder="Напишите ваш пост здесь..."></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <button type="submit" id="registerBtn" class="btnPush btnPush-Primary">Создать</button>
            <span id="headingBtn">
                <a asp-controller="Forum" asp-action="Index"
                   class="btnPush btnPush-Dark ml-1">Вернуться</a>
            </span>
        </form>
    </div>
</div>
