﻿@model MyLib.ViewModels.Forum.PostViewModel
@inject UserManager<MyLib.Data.Models.User> UserManager
@using Microsoft.AspNetCore.Identity
@{
    var author = await UserManager.FindByIdAsync(Model.AuthorId);
    string ConvertDate(DateTime date)
    {
        TimeSpan timeDifference = DateTime.Now - date;
        if (timeDifference.TotalDays > 365)
            return date.ToString();
        else
        if (timeDifference.TotalDays > 31)
        {
            int months = (int)timeDifference.TotalDays / 31;
            if (months == 1) return $"{months} месяц назад";
            else if (months <= 4) return $"{months} месяца назад";
            else return $"{months} месяцев назад";
        }
        else
        if (timeDifference.TotalDays > 1)
        {
            int decs = (int)timeDifference.TotalDays / 10;
            int solo = (int)timeDifference.TotalDays % 10;
            if (decs == 1)
                return $"{Math.Floor(timeDifference.TotalDays)} дней назад";
            else
            {
                if (solo == 1) return $"{Math.Floor(timeDifference.TotalDays)} день назад";
                else if (solo >= 2 && solo <= 4) return $"{Math.Floor(timeDifference.TotalDays)} дня назад";
                else return $"{Math.Floor(timeDifference.TotalDays)} дней назад";
            }
        }
        else
        if (timeDifference.TotalHours > 1)
        {
            int decs = (int)timeDifference.TotalHours / 10;
            int solo = (int)timeDifference.TotalHours % 10;
            if (decs == 1)
                return $"{Math.Floor(timeDifference.TotalHours)} часов назад";
            else
            {
                if (solo == 1) return $"{Math.Floor(timeDifference.TotalHours)} час назад";
                else if (solo >= 2 && solo <= 4) return $"{Math.Floor(timeDifference.TotalHours)} часа назад";
                else return $"{Math.Floor(timeDifference.TotalHours)} часов назад";
            }
        }
        else
        if (timeDifference.TotalMinutes > 1)
        {
            int decs = (int)timeDifference.TotalMinutes / 10;
            int solo = (int)timeDifference.TotalMinutes % 10;
            if (decs == 1)
                return $"{Math.Floor(timeDifference.TotalMinutes)} минут назад";
            else
            {
                if (solo == 1) return $"{Math.Floor(timeDifference.TotalMinutes)} минута назад";
                else if (solo >= 2 && solo <= 4) return $"{Math.Floor(timeDifference.TotalMinutes)} минуты назад";
                else return $"{Math.Floor(timeDifference.TotalMinutes)} минут назад";
            }
        }
        else
            return "меньше минуты назад";
    }
}

<div class="container">
    <div class="myCase">
        <div id="postDetailContent" class="row no-gutters m-0">
            <div class="postAuthorContainer col-md-2 pb-2 pb-md-0 mb-2 mb-md-0 pr-md-3">
                <div class="item-responsive item-1by1 mb-2 d-none d-md-block">
                    <img src="@Model.AuthorImageUrl" class="content" />
                </div>
                @if (author.IsDeleted)
                {
                    <p id="author-name" class="deleted">@author.FullName</p>
                }
                else
                {
                    <a id="author-name" asp-controller="User" asp-action="Profile" asp-route-id="@Model.AuthorId">
                        @author.FullName
                    </a>
                }
                <div class="postDate">@ConvertDate(Model.Created)</div>
            </div>
            <div class="postContentContainer col col-md-10 d-flex flex-column justify-content-between pl-md-3">
                <div class="top">
                    <h3><strong>@Model.Title</strong></h3>
                    <p class="text-muted">@Model.Content</p>
                </div>
            </div>
        </div>
    </div>
    @if (User.Identity.IsAuthenticated && !User.IsInRole("Flooder"))
    {
        <div id="commentRow">
            <form asp-action="AddComment" method="post" id="addPostForm">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <textarea asp-for="CommentContent" class="form-control"
                              rows="1" placeholder="Оставьте комментарий..."></textarea>
                    <span asp-validation-for="CommentContent" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="PostId" />
                <span id="headingBtn">
                    <button type="submit" class="btnPush btnPush-Primary">
                        Отправить
                    </button>
                </span>
            </form>
        </div>
    }

    @if (Model.Comments.Any())
    {
        var comments = Model.Comments.ToList();
        for (int i = 0; i < comments.Count; i++)
        {
            <div class="myCase">
                <div class="replyContent row no-gutters m-0">
                    <div class="col-md-2 pb-2 pb-md-0 mb-2 mb-md-0 replyAuthorContainer pr-md-3">
                        @{
                            var commentator = await UserManager.FindByIdAsync(comments[i].AuthorId);
                        }
                        <div class="item-responsive item-1by1 mb-2 d-none d-md-block">
                            <img src="@comments[i].AuthorImageUrl" class="content" />
                        </div>
                        @if (commentator.IsDeleted)
                        {
                            <p class="deleted">@commentator.FullName</p>
                        }
                        else
                        {
                            <a asp-controller="User" asp-action="Profile" asp-route-id="@comments[i].AuthorId">
                                @commentator.FullName
                            </a>
                        }
                        @if (comments[i].IsAuthorAdmin)
                        {
                            <div class="isAdmin smaller">Админ</div>
                            <br />
                        }
                        <div class="postDate">@ConvertDate(comments[i].Created)</div>
                    </div>
                    <div class="col-md-10 replyContentContainer pl-md-3 d-flex flex-column justify-content-between">
                        <div class="postContent" style="font-size: 1.25rem;" id="@("content" + i)">
                            @Html.Raw(comments[i].Content)
                        </div>
                        <div class="d-flex flex-row pt-3">
                            @if (commentator.Id == UserManager.GetUserId(User))
                            {
                                <div id="@("edit" + i)" style="display:none;" class="w-100">
                                    <form asp-action="EditComment" asp-route-id="@comments[i].CommentId" method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <textarea asp-for="CommentContent" placeholder="@comments[i].Content"
                                                      class="form-control" rows="1"></textarea>
                                            <span asp-validation-for="CommentContent" class="text-danger"></span>
                                        </div>
                                        <input type="hidden" asp-for="PostId" />
                                        <div class="d-flex flex-row align-items-center">
                                            <div>
                                                <button type="submit" class="rounded btn btn-primary mr-2">
                                                    Сохранить
                                                </button>
                                            </div>
                                            <div>
                                                <button class="rounded btn btn-dark" onclick="hideEdit(@i)">Отмена</button>
                                            </div>  
                                        </div>
                                        
                                    </form>
                                </div>
                                <div id="@("update" + i)">
                                    <button class="btn btn-success" onclick="showEdit(@i)">Изменить</button>
                                </div>
                                <div id="@("delete" + i)">
                                    <form asp-action="DeleteComment" asp-route-id="@comments[i].CommentId" method="post">
                                        <input type="hidden" asp-for="PostId" />
                                        <button type="submit" class="btn btn-danger ml-2"
                                                onclick="return confirm('Вы точно хотите удалить этот комментарий?')">
                                            Удалить
                                        </button>
                                    </form>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <button type="button" class="btn btn-warning"
                                            data-toggle="modal" data-target="#exampleModal"
                                            data-whatever="@commentator.FullName">
                                        Пожаловаться на комментарий
                                    </button>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Жалоба</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form method="post" asp-controller="Forum" asp-action="SendReport" asp-route-id="@comments[i].CommentId">
                                                    <div class="modal-body">

                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">Комментарий пользователя:</label>
                                                            <input type="text" class="form-control" id="recipient-name" readonly value="@comments[i].Content">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="reason" class="col-form-label">Выберите причину жалобы:</label>
                                                            <select asp-for="ReportReason">
                                                                <option value="1">Спам, мошенничество</option>
                                                                <option value="2">Непристойное поведение</option>
                                                                <option value="3">Пропаганда экстремизма</option>
                                                                <option value="4">Иное (укажите в сообщении)</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="message-text" class="col-form-label">Оставьте комментарий:</label>
                                                            <textarea class="form-control" id="message-text" asp-for="ReportDescription"></textarea>
                                                        </div>
                                                        <input type="hidden" asp-for="PostId" value="@Model.PostId"/>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть окно</button>
                                                        <button type="submit" class="btn btn-primary">Отправить жалобу</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="noPosts">
            <h3>
                В этой теме пока нет комментариев.<br />
            </h3>
        </div>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function showEdit(i) {
            document.getElementById("edit" + i).style.display = "block";
            document.getElementById("content" + i).style.display = "none";
            document.getElementById("update" + i).style.display = "none";
            document.getElementById("delete" + i).style.display = "none";
        }

        function hideEdit(i) {
            document.getElementById("edit" + i).style.display = "none";
            document.getElementById("update" + i).style.display = "block";
            document.getElementById("content" + i).style.display = "block";
            document.getElementById("delete" + i).style.display = "block";
        }
    </script>

    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-title').text('Отправить жалобу на комментарий пользователя ' + recipient)
            //modal.find('.modal-body input').val(recipient)
        })
    </script>
}