﻿@model MyLib.ViewModels.Forum.ForumIndexModel
@using Microsoft.AspNetCore.Identity
@using System.Linq;
@using MyLib.ViewModels.Comment;
@using System.Collections.Generic;
@inject UserManager<MyLib.Data.Models.User> UserManager
@addTagHelper *, MyLib
@{
    ViewBag.Title = "Форум";
    string ConvertDate(DateTime date)
    {
        TimeSpan timeDifference = DateTime.Now - date;
        if (timeDifference.TotalDays > 365)
            return date.ToString();
        else
        if (timeDifference.TotalDays > 31)
        {
            int months = (int)timeDifference.TotalDays / 31;
            if (months == 1) return $"{months} месяц назад";
            else if (months <= 4) return $"{months} месяца назад";
            else return $"{months} месяцев назад";
        }
        else
        if (timeDifference.TotalDays > 1)
        {
            int decs = (int)timeDifference.TotalDays / 10;
            int solo = (int)timeDifference.TotalDays % 10;
            if (decs == 1)
                return $"{Math.Floor(timeDifference.TotalDays)} дней назад";
            else
            {
                if (solo == 1) return $"{Math.Floor(timeDifference.TotalDays)} день назад";
                else if (solo >= 2 && solo <= 4) return $"{Math.Floor(timeDifference.TotalDays)} дня назад";
                else return $"{Math.Floor(timeDifference.TotalDays)} дней назад";
            }
        }
        else
        if (timeDifference.TotalHours > 1)
        {
            int decs = (int)timeDifference.TotalHours / 10;
            int solo = (int)timeDifference.TotalHours % 10;
            if (decs == 1)
                return $"{Math.Floor(timeDifference.TotalHours)} часов назад";
            else
            {
                if (solo == 1) return $"{Math.Floor(timeDifference.TotalHours)} час назад";
                else if (solo >= 2 && solo <= 4) return $"{Math.Floor(timeDifference.TotalHours)} часа назад";
                else return $"{Math.Floor(timeDifference.TotalHours)} часов назад";
            }
        }
        else
        if (timeDifference.TotalMinutes > 1)
        {
            int decs = (int)timeDifference.TotalMinutes / 10;
            int solo = (int)timeDifference.TotalMinutes % 10;
            if (decs == 1)
                return $"{Math.Floor(timeDifference.TotalMinutes)} минут назад";
            else
            {
                if (solo == 1) return $"{Math.Floor(timeDifference.TotalMinutes)} минута назад";
                else if (solo >= 2 && solo <= 4) return $"{Math.Floor(timeDifference.TotalMinutes)} минуты назад";
                else return $"{Math.Floor(timeDifference.TotalMinutes)} минут назад";
            }
        }
        else
            return "меньше минуты назад";
    }
}

<div class="container">
    <div class="myCase">
        <div class="row no-gutters sectionHeading">
            <div class="col">
                <p>
                    Добро пожаловать на форум.<br />
                    Пожалуйста, будьте вежливыми и <b>не спамьте</b> на форуме!
                </p>
                <p>
                    @if (Context.User.Identity.IsAuthenticated && !User.IsInRole("Flooder"))
                    {
                        <a asp-controller="Forum" asp-action="Create"
                           class="nav-link btnPush btnPush-Primary">
                            Создать тему
                        </a>
                    }
                </p>
            </div>                        
        </div>
        <div class="row no-gutters">
            <div class="col pt-3">
                <p>Всего тем на форуме: @Model.Forum.NumberOfPosts</p>
                <form asp-controller="Forum" asp-action="Search" method="post">
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <input asp-for="SearchQuery" type="text" class="searchBar" placeholder="Поиск..." />
                    }
                </form>
                
                    @if (!Context.User.Identity.IsAuthenticated)
                    {
                        <p>
                            <span>
                                Вы должны <a asp-controller="Account" asp-action="Login">
                                    <strong>войти</strong>
                                </a> на сайт, чтобы опубликовать тему!
                            </span>
                        </p>
                    }                
            </div>            
        </div>
    </div>
    <div id="forumIndexContent">
        @if (Model.Posts.Any())
        {
            @foreach (var post in Model.Posts)
            {
                var user = await UserManager.FindByIdAsync(post.AuthorId);
                var lc = post.Comments.ToList().FirstOrDefault();
                <div class="myCase">
                    <div class="hiddenContent row no-gutters">
                        <div class="postAuthorContainer col-md-2 pb-2 pb-md-0 mb-2 mb-md-0 pr-md-3">
                            <div class="item-responsive item-1by1 mb-2 d-none d-md-block">
                                <img src="@post.AuthorImageUrl" class="content" />
                            </div>
                            @if (user.IsDeleted)
                            {
                                <p id="author-name" class="deleted mb-0">@user.FullName</p>
                            }
                            else
                            {
                                <a id="author-name" asp-controller="User" asp-action="Profile" asp-route-id="@post.AuthorId">
                                    @user.FullName
                                </a>
                            }
                            <div class="postDate">@ConvertDate(post.Created)</div>

                            @if (post.IsAuthorAdmin)
                            {
                                <div class="isAdmin smaller">Админ</div>
                            }
                        </div>
                        @if (User.IsInRole("Admin") || UserManager.GetUserId(User) == post.AuthorId)
                        {
                            <div class="postContentContainer col col-md-10 d-flex flex-column justify-content-between pl-md-3">

                                <div class="top">
                                    <a asp-controller="Forum" asp-action="Detail" asp-route-id="@post.PostId">
                                        <strong>@post.Title</strong>
                                    </a>
                                    <p class="overflow text-muted">@post.Content</p>
                                </div>

                                <div class="middle mt-3">
                                    @if (lc != null)
                                    {
                                        var commentator = await UserManager.FindByIdAsync(lc.AuthorId);
                                        <p><b>Последний комментарий <span class="text-muted">@ConvertDate(lc.Created)</span></b></p>
                                        @if (commentator.IsDeleted)
                                        {
                                            <p id="author-name" class="deleted">@commentator.FullName</p>
                                        }
                                        else
                                        {
                                            <a id="author-name" asp-controller="User" asp-action="Profile" asp-route-id="@lc.AuthorId">
                                                @commentator.FullName
                                            </a>
                                        }
                                        <p class="overflow">@lc.Content</p>
                                    }
                                    else
                                    {
                                        <p>Комментариев пока нет. Оставьте первым свой комментарий.</p>
                                    }
                                </div>

                                @if (Context.User.Identity.IsAuthenticated)
                                {
                                    <div class="bottom mt-3">
                                        <div class="showContent">
                                            <form asp-action="Delete" asp-route-id="@post.PostId" method="post">
                                                <div class="d-flex flex-row">
                                                    <div>
                                                        <a class="btn btn-success"
                                                           asp-controller="Forum" asp-action="Update" asp-route-id="@post.PostId">
                                                            Изменить
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <button type="submit" class="btn btn-danger ml-2"
                                                                asp-controller="Forum" asp-action="Delete" asp-route-id="@post.PostId"
                                                                onclick="return confirm('Вы точно хотите удалить тему &quot;@post.Title?&quot;')">
                                                            Удалить
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="postContentContainer col col-md-10 d-flex flex-column pl-md-3">
                                <div class="top">
                                    <a asp-controller="Forum" asp-action="Detail" asp-route-id="@post.PostId">
                                        <strong>@post.Title</strong>
                                    </a>
                                    <p class="overflow text-muted">@post.Content</p>
                                </div>

                                <div class="middle mt-3">
                                    @if (lc != null)
                                    {
                                        var commentator = await UserManager.FindByIdAsync(lc.AuthorId);
                                        <p><b>Последний комментарий <span class="text-muted">@ConvertDate(lc.Created)</span></b></p>
                                        @if (commentator.IsDeleted)
                                        {
                                            <p id="author-name" class="deleted">@commentator.FullName</p>
                                        }
                                        else
                                        {
                                            <a id="author-name" asp-controller="User" asp-action="Profile" asp-route-id="@lc.AuthorId">
                                                @commentator.FullName
                                            </a>
                                        }
                                        <p class="overflow">@lc.Content</p>
                                    }
                                    else
                                    {
                                        <p>Комментариев пока нет. Оставьте первым свой комментарий.</p>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <div class="noPosts">
                <h3>
                    <i class="fas fa-comments"></i>
                    Здесь нет тем, которые вы хотели бы найти.
                    Почему бы вам не
                    <a asp-controller="Forum" asp-action="Create">
                        <span>Опубликовать</span>
                    </a>
                    что-нибудь первым?
                </h3>
            </div>
        }
        <div class="mt-3">
            <page-link page-model="Model.PageViewModel" page-action="Index"></page-link>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(".likeBtn").click(function () {
            $(this).addClass("fas").addClass("text-success").removeClass("far");
            $(".dislikeBtn").addClass("far").removeClass("fas").removeClass("text-danger");
        });

        $(".dislikeBtn").click(function () {
            $(this).addClass("fas").addClass("text-danger").removeClass("far");
            $(".likeBtn").addClass("far").removeClass("fas").removeClass("text-success");
        });
    </script>
}