﻿@model MyLib.ViewModels.Forum.PostViewModel

<div class="container">
    <div class="myCase">
        <h3>Изменить содержание темы</h3>
        <form asp-action="Update" method="post" id="addPostForm">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title">Название</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content">Сообщение</label>
                <textarea asp-for="Content" rows="10" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PostId"/>
            <button type="submit" id="registerBtn" class="btnPush btnPush-Primary">Изменить</button>
            <span id="headingBtn">
                <a asp-controller="Forum" asp-action="Index"
                   class="btnPush btnPush-Dark ml-1">Вернуться</a>
            </span>
        </form>
    </div>
</div>
