﻿@model MyLib.ViewModels.UserProfile.UserProfileViewModel
@{
    ViewBag.Title = "Профиль пользователя";
    var imagePath = Model.ExistingImageUrl ?? "/images/profile/noprofileimage.png";
}

<div class="container myCase">
    <h2>Профиль пользователя</h2><hr />
    <h3>Здесь вы можете изменить параметры вашей учетной записи</h3><hr />
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data"
              asp-controller="User" asp-action="EditProfile">
            <div class="form-group">
                <label class="col-form-label" asp-for="Image">Аватарка</label>
                <div class="custom-file">
                    <input asp-for="Image" class="form-control custom-file-input" onchange="readURL(this)"/>
                    <label class="custom-file-label image-file">Выберите изображение...</label>
                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label row no-gutters" asp-for="ExistingImageUrl">Текущая аватарка</label>
                <img id="image" src="@imagePath" class="booksImageEdit" asp-append-version="true" />
            </div>
            <div class="form-group row no-gutters">
                <label class="col-sm-2 col-form-label" asp-for="FullName"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="FullName" />
                    <span class="text-danger field-validation-valid"
                          asp-validation-for="FullName"></span>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label class="col-sm-2 col-form-label" asp-for="Age"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Age" />
                    <span class="text-danger field-validation-valid"
                          asp-validation-for="Age"></span>
                </div>
            </div>            <div class="form-group row no-gutters">
                <label class="col-sm-2 col-form-label" asp-for="Phone"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Phone" />
                    <span class="text-danger field-validation-valid"
                          asp-validation-for="Phone"></span>
                </div>
            </div>            <div class="form-group row no-gutters">
                <label class="col-sm-2 col-form-label" asp-for="Email"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Email" />
                    <span class="text-danger field-validation-valid"
                          asp-validation-for="Email"></span>
                </div>
            </div>
            <input type="hidden" asp-for="UserId" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row no-gutters">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Обновить профиль</button>
                </div>
            </div>
        </form>
        <form asp-action="DeleteProfile" asp-route-id="@Model.UserId" method="post">
            <button type="submit" class="btn btn-danger"
                    onclick="return confirm('Вы точно хотите удалить свой профиль? В случае подтверждения его никак нельзя будет восстановить!')">
                Удалить профиль
            </button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $('.custom-file-label').html(fileName);
            });
        })
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}