﻿@model MyLib.ViewModels.UserProfile.UserProfileViewModel
@using Microsoft.AspNetCore.Identity
@using MyLib.Data.Models
@inject UserManager<MyLib.Data.Models.User> UserManager
@{
    ViewBag.Title = Model.FullName;
    var btb = ViewBag.BestThreeBooks;
    string ConvertDate(DateTime date)
    {
        TimeSpan timeDifference = DateTime.Now - date;
        if (timeDifference.TotalDays > 365)
            return date.ToString();
        else
        if (timeDifference.TotalDays > 31)
        {
            int months = (int)timeDifference.TotalDays / 31;
            if (months == 1) return $"{months} месяц назад";
            else if (months <= 4) return $"{months} месяца назад";
            else return $"{months} месяцев назад";
        }
        else
        if (timeDifference.TotalDays > 1)
        {
            int decs = (int)timeDifference.TotalDays / 10;
            int solo = (int)timeDifference.TotalDays % 10;
            if (decs == 1)
                return $"{Math.Floor(timeDifference.TotalDays)} дней назад";
            else
            {
                if (solo == 1) return $"{Math.Floor(timeDifference.TotalDays)} день назад";
                else if (solo >= 2 && solo <= 4) return $"{Math.Floor(timeDifference.TotalDays)} дня назад";
                else return $"{Math.Floor(timeDifference.TotalDays)} дней назад";
            }
        }
        else
        if (timeDifference.TotalHours > 1)
        {
            int decs = (int)timeDifference.TotalHours / 10;
            int solo = (int)timeDifference.TotalHours % 10;
            if (decs == 1)
                return $"{Math.Floor(timeDifference.TotalHours)} часов назад";
            else
            {
                if (solo == 1) return $"{Math.Floor(timeDifference.TotalHours)} час назад";
                else if (solo >= 2 && solo <= 4) return $"{Math.Floor(timeDifference.TotalHours)} часа назад";
                else return $"{Math.Floor(timeDifference.TotalHours)} часов назад";
            }
        }
        else
        if (timeDifference.TotalMinutes > 1)
        {
            int decs = (int)timeDifference.TotalMinutes / 10;
            int solo = (int)timeDifference.TotalMinutes % 10;
            if (decs == 1)
                return $"{Math.Floor(timeDifference.TotalMinutes)} минут назад";
            else
            {
                if (solo == 1) return $"{Math.Floor(timeDifference.TotalMinutes)} минута назад";
                else if (solo >= 2 && solo <= 4) return $"{Math.Floor(timeDifference.TotalMinutes)} минуты назад";
                else return $"{Math.Floor(timeDifference.TotalMinutes)} минут назад";
            }
        }
        else
            return "меньше минуты назад";
    }
}
<div class="container myCase">
    <div class="row no-gutters userStat">
        <div class="col-4 col-md-3 pr-3">
            <div class="nav-item d-block mb-2">
                <a class="nav-link item-responsive item-1by1" style="padding-right: 0px;padding-bottom: 0px;padding-left: 0px;" asp-controller="User" asp-action="Profile" asp-route-id="@Model.UserId">
                    <img class="content" src="@Model.ExistingImageUrl" />
                </a>
            </div>
        </div>
        <div class="col-8 col-md-9 pl-3">
            <div class="d-flex flex-column usercard">
                <div class="nav-item d-block mb-1">
                    <a class="" asp-controller="User" asp-action="Profile" asp-route-id="@Model.UserId">
                        @Model.FullName
                    </a>
                </div>
                <div class="nav-item d-block mb-1">
                    Загружено книг: @ViewBag.BooksQuantity
                </div>
                <div class="nav-item d-block mb-1">
                    Создано тем: @ViewBag.PostsQuantity
                </div>
                <div class="nav-item d-block mb-1">
                    Комментариев: @ViewBag.CommentsQuantity
                </div>
            </div>
        </div>
    </div>

    <h3>Топ-3 книг, загруженных пользователем</h3>
    <div class="row no-gutters">
        @for (int i = 0; i < btb.Count; i++)
        {
            <div class="col-12 mb-2">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title overflow">"@btb[i].Title" (@btb[i].Author)</h5>
                    </div>
                    <div class="card-body pb-2">
                        <div class="row">
                            <div class="col-12 pr-0">
                                <div class="d-flex flex-column justify-content-between p-0">
                                    <div class="mb-2">Жанр: <b>@btb[i].Genre</b></div>
                                    <div class="mb-2">Год публикации произведения: <b>@btb[i].Year</b></div>
                                    <div class="text-muted">Опубликована на сайте:</div>
                                    <div class="mb-2 text-muted">@ConvertDate(btb[i].PublicationDate)</div>
                                    <div class="mb-2 overflow">@btb[i].Description</div>
                                    <div class="d-flex flex-column flex-md-row mb-2">
                                        <div>Рейтинг произведения: </div>
                                        <div class="">@btb[i].Rating / 5 (голосов: @ViewBag.Rates[i])</div>
                                    </div>
                                    @if (btb[i].User.Id == UserManager.GetUserId(User))
                                    {
                                        <div class="mb-2">
                                            <a asp-action="Edit" asp-route-id="@btb[i].Id" class="btn btn-success">
                                                Редактировать
                                            </a>
                                        </div>
                                        <div class="mb-2">
                                            <form asp-action="Delete" asp-route-id="@btb[i].Id" method="post">
                                                <button type="submit" class="btn btn-danger"
                                                        onclick="return confirm('Вы точно хотите удалить книгу &quot;@btb[i].Title&quot;?')">
                                                    Удалить
                                                </button>
                                            </form>
                                        </div>
                                    }
                                    <div id="card-btn" class="pb-1 mb-2">
                                        <div>
                                            <a asp-controller="Book" asp-action="Detail" asp-route-id="@btb[i].Id" class="btn btn-primary">
                                                Перейти к чтению
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>