﻿@{
    ViewData["Title"] = "Главная страница";
    string ConvertDate(DateTime date)
    {
        TimeSpan timeDifference = DateTime.Now - date;
        if (timeDifference.TotalDays > 365)
            return date.ToString();
        else
        if (timeDifference.TotalDays > 31)
        {
            int months = (int)timeDifference.TotalDays / 31;
            if (months == 1) return $"{months} месяц назад";
            else if (months <= 4) return $"{months} месяца назад";
            else return $"{months} месяцев назад";
        }
        else
        if (timeDifference.TotalDays > 1)
        {
            int decs = (int)timeDifference.TotalDays / 10;
            int solo = (int)timeDifference.TotalDays % 10;
            if (decs == 1)
                return $"{Math.Floor(timeDifference.TotalDays)} дней назад";
            else
            {
                if (solo == 1) return $"{Math.Floor(timeDifference.TotalDays)} день назад";
                else if (solo >= 2 && solo <= 4) return $"{Math.Floor(timeDifference.TotalDays)} дня назад";
                else return $"{Math.Floor(timeDifference.TotalDays)} дней назад";
            }
        }
        else
        if (timeDifference.TotalHours > 1)
        {
            int decs = (int)timeDifference.TotalHours / 10;
            int solo = (int)timeDifference.TotalHours % 10;
            if (decs == 1)
                return $"{Math.Floor(timeDifference.TotalHours)} часов назад";
            else
            {
                if (solo == 1) return $"{Math.Floor(timeDifference.TotalHours)} час назад";
                else if (solo >= 2 && solo <= 4) return $"{Math.Floor(timeDifference.TotalHours)} часа назад";
                else return $"{Math.Floor(timeDifference.TotalHours)} часов назад";
            }
        }
        else
        if (timeDifference.TotalMinutes > 1)
        {
            int decs = (int)timeDifference.TotalMinutes / 10;
            int solo = (int)timeDifference.TotalMinutes % 10;
            if (decs == 1)
                return $"{Math.Floor(timeDifference.TotalMinutes)} минут назад";
            else
            {
                if (solo == 1) return $"{Math.Floor(timeDifference.TotalMinutes)} минута назад";
                else if (solo >= 2 && solo <= 4) return $"{Math.Floor(timeDifference.TotalMinutes)} минуты назад";
                else return $"{Math.Floor(timeDifference.TotalMinutes)} минут назад";
            }
        }
        else
            return "меньше минуты назад";
    }
}

<div class="text-center">
    <div class="container myCase">
        <h1><span class="mylib">MyLib</span> - литературный клуб</h1>
        <h2>Что мы предлагаем?</h2>
        <div class="row features no-gutters">
            <div class="offset-1 col-10 col-md-6 col-lg-3 offset-md-0">
                <h3><strong>Читайте</strong></h3><br />
                <img src="~/images/indexIcons/read.png" alt="Read" class="reading" />
                <p>
                    <span class="mylib">MyLib</span> даёт доступ к литературным произведениям совершенно <strong>бесплатно</strong>.
                </p>
            </div>
            <div class="offset-1 col-10 col-md-6 col-lg-3 offset-md-0">
                <h3><strong>Обсуждайте</strong></h3><br />
                <img src="~/images/indexIcons/discuss.png" alt="Discuss" class="discussing" />
                <p>
                    <span class="mylib">MyLib</span> предоставляет <strong>площадку для обсуждения</strong> прочитанных и понравившихся произведений.
                </p>
            </div>
            <div class="offset-1 col-10 col-md-6 col-lg-3 offset-md-0">
                <h3><strong>Делитесь</strong></h3><br />
                <img src="~/images/indexIcons/add.png" alt="Add" class="adding" />
                <p>
                    <span class="mylib">MyLib</span> ценит поддержку своих пользователей. Добавляйте произведения, с которыми вы желаете поделиться.
                </p>
            </div>
            <div class="offset-1 col-10 col-md-6 col-lg-3 offset-md-0">
                <h3><strong>Нет рекламы</strong></h3><br />
                <img src="~/images/indexIcons/ad.png" alt="Ads" class="ads" />
                <p>
                    <span class="mylib">MyLib</span> - это проект, <strong>свободный от надоедливой рекламы.</strong> По желанию, вы можете помочь проекту рублём.
                </p>
            </div>
        </div>
        <div class="row books-n-don no-gutters">
            <div class="col-12 col-md-4 d-flex justify-content-center donations">
                <div class="d-flex flex-column align-self-center">
                    <div>Поддержать проект материально (Сбербанк):</div>
                    <div>+7(938)435-54-59;</div>
                    <div>+7(903)458-33-86;</div>
                    <div>+7(918)968-16-89.</div>
                </div>
            </div>
            <div class="col-12 col-md-8 order-md-first text-left">
                <h2>Топ-5 лучших книг:</h2>
                @if (Model.Count == 0)
                {
                    <div class="align-self-center">
                        <h3>Увы, пока на сайте нет ни одной книги.</h3>
                        <h4>Вы можете <a asp-controller="Book" asp-action="Add">загрузить книгу</a> первым.</h4>
                    </div>
                }
                else
                {
                    <div id="carouselMy" class="carousel my-carousel slide pr-md-2" data-ride="carousel">
                        <div class="carousel-inner">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                if (i == 0)
                                {
                                    <div class="carousel-item active">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title overflow">"@Model[i].Title" (@Model[i].Author)</h5>
                                            </div>
                                            <div class="card-body pb-2">
                                                <div class="row">
                                                    <div class="col-2 pr-0 d-none d-md-block">
                                                        <a asp-controller="Book" asp-action="Detail" asp-route-id="@Model[i].BookId">
                                                            <img class="booksImageCell" src="@Model[i].ImageUrl" />
                                                        </a>
                                                    </div>
                                                    <div class="col-12 col-md-10 pr-0">
                                                        <div class="d-flex flex-column justify-content-between p-0" id="card-description">
                                                            <div class="mb-2 ml-md-2">Жанр: <b>@Model[i].Genre</b></div>
                                                            <div class="mb-2 ml-md-2">Год публикации произведения: <b>@Model[i].Year</b></div>
                                                            <div class="ml-md-2 text-muted">Опубликована на сайте:</div>
                                                            <div class="mb-2 ml-md-2 text-muted">@ConvertDate(Model[i].PublicationDate)</div>
                                                            <div class="mb-2 ml-md-2 overflow">@Model[i].Description</div>
                                                            <div class="d-flex flex-column flex-md-row ml-md-2 mb-2">
                                                                <div>Рейтинг произведения: </div>
                                                                <div class="ml-md-2">@Model[i].Rating / 5 (голосов: @ViewBag.Rates[i])</div>
                                                            </div>
                                                            <div id="card-btn" class="ml-md-2 pb-1 mb-2">
                                                                <div>
                                                                    <a asp-controller="Book" asp-action="Detail" asp-route-id="@Model[i].BookId" class="btn btn-primary">
                                                                        Перейти к чтению
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer cf-main">

                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title overflow">"@Model[i].Title" (@Model[i].Author)</h5>
                                            </div>
                                            <div class="card-body pb-2">
                                                <div class="row">
                                                    <div class="col-2 pr-0 d-none d-md-block">
                                                        <a asp-controller="Book" asp-action="Detail" asp-route-id="@Model[i].BookId">
                                                            <img class="booksImageCell" src="@Model[i].ImageUrl" />
                                                        </a>
                                                    </div>
                                                    <div class="col-12 col-md-10 pr-0">
                                                        <div class="d-flex flex-column justify-content-between p-0" id="card-description">
                                                            <div class="mb-2 ml-md-2">Жанр: <b>@Model[i].Genre</b></div>
                                                            <div class="mb-2 ml-md-2">Год публикации произведения: <b>@Model[i].Year</b></div>
                                                            <div class="ml-md-2 text-muted">Опубликована на сайте:</div>
                                                            <div class="mb-2 ml-md-2 text-muted">@ConvertDate(Model[i].PublicationDate)</div>
                                                            <div class="mb-2 ml-md-2 overflow">@Model[i].Description</div>
                                                            <div class="d-flex flex-column flex-md-row ml-md-2 mb-2">
                                                                <div>Рейтинг произведения: </div>
                                                                <div class="ml-md-2">@Model[i].Rating / 5 (голосов: @ViewBag.Rates[i])</div>
                                                            </div>
                                                            <div id="card-btn" class="ml-md-2 pb-1 mb-2">
                                                                <div>
                                                                    <a asp-controller="Book" asp-action="Detail" asp-route-id="@Model[i].BookId" class="btn btn-primary">
                                                                        Перейти к чтению
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer cf-main">

                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>

                        <ol class="carousel-indicators">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                if (i == 0)
                                {
                                    <li data-target="#carouselMy" data-slide-to="@i" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#carouselMy" data-slide-to="@i"></li>
                                }
                            }
                        </ol>
                    </div>
                }
            </div>
        </div>
    </div> 
</div>
