﻿@model MyLib.ViewModels.Administration.RoleViewModel
@{
    ViewBag.Title = "Создать новую роль";
}



<div class="container myCase">
    <h1>Создать новую роль</h1>
    <div class="col-md-8">
        <form method="post" asp-controller="Administration" asp-action="CreateRole">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="font-weight-bold">Название роли</label>
                <input class="form-control" asp-for="RoleName" />
                <span class="text-danger field-validation-valid" asp-validation-for="RoleName"></span>
            </div>
            <button type="submit" class="btn btn-primary">Создать</button>
            <a asp-action="RolesList" class="btn btn-dark">Назад</a>
        </form>
    </div>
</div>
