﻿@using MyLib.ViewModels.Administration;
@model List<UserRoleViewModel>
@{
    ViewBag.Title = "Изменить роль пользователя";
    var roleId = ViewBag.roleId;
    var roleName = ViewBag.RoleName;
}



<div class="container myCase">
    <h1>Пользователи с ролью <text class="font-weight-bold">@roleName</text></h1>
    <form method="post" asp-controller="Administration" asp-action="EditUserRole">
        <div class="card">
            <div class="card-header">
                <h4>Добавьте или удалите роль у пользователей</h4>
            </div>
            <div class="card-body">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="form-check m-1">
                        <input type="hidden" asp-for="@Model[i].UserId" />
                        <input type="hidden" asp-for="@Model[i].UserName" />
                        <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                        <label class="form-check-label">@Model[i].UserName</label>
                    </div>
                }
            </div>
            <div class="card-footer">
                <input type="submit" value="Подтвердить изменения" class="btn btn-primary" />
                <a asp-action="EditRole" asp-route-id="@roleId" class="btn btn-dark">Назад</a>
            </div>
        </div>
    </form>
</div>