﻿@model MyLib.ViewModels.Administration.RoleViewModel
@{
    ViewBag.Title = "Редактировать текущую роль";
}



<div class="container myCase">
    <h1>Редактировать текущую роль</h1>
    <form method="post" asp-controller="Administration" asp-action="EditRole">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" asp-for="RoleId"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="RoleId" disabled />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" asp-for="RoleName">Название роли</label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="RoleName" />
            </div>
            <span class="text-danger field-validation-valid" asp-validation-for="RoleName"></span>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Подтвердить изменения</button>
                <a asp-action="RolesList" class="btn btn-dark">Назад</a>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header">
                <h4>Пользователи с этой ролью</h4>
            </div>
            <div class="card-body">
                @if (Model.Users.Any())
                {
                    foreach (var user in Model.Users)
                    {
                        <h5 class="card-title">@user</h5>
                    }
                }
                else
                {
                    <h5 class="card-title">Таких пользователей на данный момент нет</h5>
                }
            </div>
            <div class="card-footer">
                <a asp-controller="Administration" asp-action="EditUserRole" asp-route-id="@Model.RoleId"
                    class="btn btn-primary">Добавить или убрать пользователя</a>
            </div>
        </div>
    </form>
</div>