﻿@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "Менеджер ролей";
}

<div class="container myCase">
    <h1>Менеджер ролей</h1>
    @if (Model.Any())
    {
        <a class="btn btn-primary mb-2" asp-action="CreateRole">Создать роль</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Название</th>
                    <th>Управление</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr>
                        <td>@role.Id</td>
                        <td>@role.Name</td>
                        <td>
                            <form method="post" asp-action="DeleteRole" asp-route-id="@role.Id">
                                <a asp-action="EditRole" asp-route-id="@role.Id"
                                    class="btn btn-success mt-2 mb-2">Редактировать</a>
                                <button type="submit" class="btn btn-danger"
                                        onclick="return confirm('Вы точно хотите удалить роль : @role.Name?')">
                                    Удалить
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                Роли отсутствуют. Добавьте первую роль.
            </div>
            <div class="card-body">
                <a class="btn btn-primary" asp-action="CreateRole">Создать роль</a>
            </div>
        </div>
    }
</div>
