﻿@model MyLib.ViewModels.Clustering.ClusteringResultsViewModel

<div class="container myCase">
    <div class="row no-gutters pb-2 mb-2" id="cluster-head">
        <div class="col-md-8">
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div>
                    <h3>Результаты кластеризации</h3>
                </div>
                <div>
                    <a asp-action="Index" class="rounded btn btn-dark">Назад к кластеризации</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-12 col-md-8 pr-md-3" id="cluster-list">
            <div id="accordion">
                @for (int i = 0; i < Model.BookClusters.Count; i++)
                {
                    <div class="card mb-2">
                        <div class="card-header card-clustering" id="headingOne">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h5 class="mb-0">
                                        <button class="btn btn-light" data-toggle="collapse" data-target="@("#collapse" + i)" aria-expanded="false" aria-controls="@("#collapse" + i)">
                                            <h1>@("Кластер №" + (i+1))</h1>
                                        </button>
                                    </h5>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div><input type="checkbox" name="@("cluster" + i)" class="chk-all form-control" style="width: 40px; height: 40px;" onclick="ChangeAll('@i')" checked/></div>
                                    <div class="ml-2 align-self-center">Выбрать все</div>
                                </div>
                            </div>
                        </div>
                        @for (int j = 0; j < Model.BookClusters[i].Count; j++)
                        {
                            <div id="@("collapse" + i)" class="collapse" aria-labelledby="@("heading" + i)">
                                <div class="card-body">
                                    <div class="row mb-2 pb-2" id="book-card">
                                        <div class="col-2">
                                            <a asp-controller="Book" asp-action="Detail" asp-route-id="@Model.BookClusters[i][j].BookId">
                                                <img class="booksImageCell" src="@Model.BookClusters[i][j].ImageUrl" />
                                            </a>
                                        </div>
                                        <div class="col-8 bl-1px-s-ddd br-1px-s-ddd">
                                            <div>
                                                <p id="bookTitle">@Model.BookClusters[i][j].Author</p>
                                                <p id="bookTitle">@Model.BookClusters[i][j].Title</p>
                                            </div>
                                            <div class="tags d-flex flex-column flex-md-row">
                                                @foreach (var tag in Model.BookClusters[i][j].Tags)
                                                {
                                                    <div class="mb-2 mb-md-0 mr-md-2">
                                                        @if (tag.Tag.Type == MyLib.Data.Models.TagType.Author)
                                                        {
                                                            <a asp-controller="Tag" asp-action="EditTag" asp-route-id="@tag.Tag.Id"
                                                               class="btn p-2 text-light" style="background-color: rgb(127, 21, 136);">
                                                                @tag.Tag.Name
                                                            </a>
                                                        }
                                                        else if (tag.Tag.Type == MyLib.Data.Models.TagType.Genre)
                                                        {
                                                            <a asp-controller="Tag" asp-action="EditTag" asp-route-id="@tag.Tag.Id"
                                                               class="btn p-2 text-light" style="background-color: rgb(231, 61, 46);">
                                                                @tag.Tag.Name
                                                            </a>
                                                        }
                                                        else if (tag.Tag.Type == MyLib.Data.Models.TagType.All)
                                                        {
                                                            <a asp-controller="Tag" asp-action="EditTag" asp-route-id="@tag.Tag.Id"
                                                               class="btn p-2 text-light" style="background-color: rgb(32, 125, 122);">
                                                                @tag.Tag.Name
                                                            </a>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex flex-column align-self-center">
                                            <input id="@("checkVisible" + i + j)" type="checkbox" asp-for="@Model.BookChecks[i]" class="form-control" name="@("cluster" + i)" onclick="checkChange('@i' + '@j')"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
            <page-link page-model="Model.PageViewModel" page-action="Index"></page-link>
        </div>

        <div class="col-12 col-md-4 pl-md-3">
            <div class="row no-gutters mt-2">
                <div class="col">
                    <button class="btn btn-primary" onclick="showAdd()">Добавление</button>
                </div>
                <div class="col">
                    <button class="btn btn-danger" onclick="showDelete()">Удаление</button>
                </div>
            </div>

            <div id="add" class="mt-2">
                <form asp-controller="Cluster" asp-action="AddTags" method="post">
                    @foreach (var tag in Model.Tags)
                    {
                        <input asp-for="TagIds" value="@tag.Id" hidden />
                        <input class="@("tagCheckHidden" + tag.Id)" name="TagChecksInt" asp-for="TagChecksInt" value="-1" hidden />
                        <div class="d-flex flex-row align-items-center mb-2">
                            <div><input type="checkbox" class="form-control @("addCheckbox" + tag.Id)" onclick="addTagCheckChange('@tag.Id')" style="width:50px;" /></div>
                            <div><label>@tag.Name</label></div>
                        </div>                                      
                    }
                    @for (int i = 0; i < Model.BookClusters.Count; i++)
                    {
                        for (int j = 0; j < Model.BookClusters[i].Count; j++)
                        {
                            <input asp-for="ClusterIds" value="@i" hidden />
                            <input asp-for="BookIds" value="@Model.BookClusters[i][j].BookId" hidden />
                            <input class="@("cluster" + i) @("checkHidden" + i + j)" name="BookChecksInt" asp-for="BookChecksInt" value="@((Model.BookChecks[i]) ? 1 : -1)" hidden />
                        }
                    }
                    <button type="submit" class="rounded btn btn-dark">Добавить</button>
                </form>
            </div>
            <div id="delete" class="mt-2" style="display:none;">
                <form asp-controller="Cluster" asp-action="DeleteTags" method="post">
                    @foreach (var tag in Model.Tags)
                    {
                        <input asp-for="TagIds" value="@tag.Id" hidden />
                        <input class="@("tagCheckHidden" + tag.Id)" name="TagChecksInt" asp-for="TagChecksInt" value="-1" hidden />
                        <div class="d-flex flex-row align-items-center mb-2">
                            <div><input type="checkbox" class="form-control @("addCheckbox" + tag.Id)" onclick="addTagCheckChange('@tag.Id')" style="width:50px;" /></div>
                            <div><label>@tag.Name</label></div>
                        </div>
                    }
                    @for (int i = 0; i < Model.BookClusters.Count; i++)
                    {
                        for (int j = 0; j < Model.BookClusters[i].Count; j++)
                        {
                            <input asp-for="ClusterIds" value="@i" hidden />
                            <input asp-for="BookIds" value="@Model.BookClusters[i][j].BookId" hidden />
                            <input class="@("cluster" + i) @("checkHidden" + i + j)" name="BookChecksInt" asp-for="BookChecksInt" value="@((Model.BookChecks[i]) ? 1 : -1)" hidden />
                        }
                    }
                    <button type="submit" class="rounded btn btn-dark">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function showAdd() {
            document.getElementById("add").style.display = "block";
            document.getElementById("delete").style.display = "none";
        }

        function showDelete() {
            document.getElementById("delete").style.display = "block";
            document.getElementById("add").style.display = "none";
        }

        function checkChange(number) {
            document.getElementsByClassName("checkHidden" + number)[0].value *= -1;
            document.getElementsByClassName("checkHidden" + number)[1].value *= -1;
        }

        function addTagCheckChange(number) {
            document.getElementsByClassName("tagCheckHidden" + number)[0].value *= -1;
            document.getElementsByClassName("tagCheckHidden" + number)[1].value *= -1;

            document.getElementsByClassName("deleteCheckbox" + number)[0].checked = !document.getElementsByClassName("deleteCheckbox" + number)[0].checked;
        }

        function deleteTagCheckChange(number) {
            document.getElementsByClassName("tagCheckHidden" + number)[0].value *= -1;
            document.getElementsByClassName("tagCheckHidden" + number)[1].value *= -1;

            document.getElementsByClassName("addCheckbox" + number)[0].checked = !document.getElementsByClassName("addCheckbox" + number)[0].checked;
        }

        function ChangeAll(number) {
            var boolValue = document.getElementsByName("cluster" + number)[0].checked;
            var listOfInputs = document.getElementsByClassName("cluster" + number);

            for (var i = 0; i < listOfInputs.length; i++) {
                if (boolValue)
                    listOfInputs[i].value = 1;
                else
                    listOfInputs[i].value = -1;
            }
        }

        $(document).on('change', 'input[type=checkbox]', function () {
            var $this = $(this), $chks = $(document.getElementsByName(this.name)), $all = $chks.filter(".chk-all");

            if ($this.hasClass('chk-all')) {
                $chks.prop('checked', $this.prop('checked'));
            } else switch ($chks.filter(":checked").length) {
                case $all.prop('checked'):
                    $all.prop('checked', false).prop('indeterminate', false);
                    break;
                case $chks.length - !!$this.prop('checked'):
                    $all.prop('checked', true).prop('indeterminate', false);
                    break;
                default:
                    $all.prop('indeterminate', true);
            }
        });
    </script>
}