﻿@model MyLib.ViewModels.Clustering.ClusteringIndexViewModel

<div class="container myCase">
    <div class="row no-gutters mb-2" id="cluster-head">
        <div class="col-md-8 pb-2">
            <h3>Список книг для кластеризации</h3>
            <form asp-controller="Cluster" asp-action="Search" method="post">
                <input asp-for="SearchQueryName" type="text" class="searchBar" placeholder="Выбор по названию..." />
            </form>
            <form asp-controller="Cluster" asp-action="Search" method="post">
                <input asp-for="SearchQueryTag" type="text" class="searchBar" placeholder="Выбор по тегам..." />
            </form>
            <div class="d-flex">
                <div><input type="checkbox" name="checkall" class="chk-all form-control" style="width: 40px; height: 40px;" onclick="ChangeAll()" checked/></div>
                <div class="ml-2 align-self-center">Выбрать все</div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-12 col-md-8 pr-md-3" id="cluster-list">
            @if (Model.Books.Count == 0)
            {
                <div class="align-self-center">
                    <h3>Увы, пока на сайте нет ни одной книги.</h3>
                    <h4>Вы можете <a asp-controller="Book" asp-action="Add">загрузить книгу</a> первым.</h4>
                </div>
            }
            else
            {
                @for (int i = 0; i < Model.Books.Count; i++)
                {
                    <div class="row mb-2 pb-2" id="book-card">
                        <div class="col-2">
                            <a asp-controller="Book" asp-action="Detail" asp-route-id="@Model.Books[i].BookId">
                                <img class="booksImageCell" src="@Model.Books[i].ImageUrl" />
                            </a>
                        </div>
                        <div class="col-8 bl-1px-s-ddd br-1px-s-ddd">
                            <div>
                                <p id="bookTitle">@Model.Books[i].Author</p>
                                <p id="bookTitle">@Model.Books[i].Title</p>
                            </div>
                            <div class="tags d-flex flex-column flex-md-row">
                                @foreach (var tag in Model.Books[i].Tags)
                                {
                                    <div class="mb-2 mb-md-0 mr-md-2">
                                        @if (tag.Tag.Type == MyLib.Data.Models.TagType.Author)
                                        {
                                            <a asp-controller="Tag" asp-action="EditTag" asp-route-id="@tag.Tag.Id"
                                               class="btn p-2 text-light" style="background-color: rgb(127, 21, 136);">
                                                @tag.Tag.Name
                                            </a>
                                        }
                                        else if (tag.Tag.Type == MyLib.Data.Models.TagType.Genre)
                                        {
                                            <a asp-controller="Tag" asp-action="EditTag" asp-route-id="@tag.Tag.Id"
                                               class="btn p-2 text-light" style="background-color: rgb(231, 61, 46);">
                                                @tag.Tag.Name
                                            </a>
                                        }
                                        else if (tag.Tag.Type == MyLib.Data.Models.TagType.All)
                                        {
                                            <a asp-controller="Tag" asp-action="EditTag" asp-route-id="@tag.Tag.Id"
                                               class="btn p-2 text-light" style="background-color: rgb(32, 125, 122);">
                                                @tag.Tag.Name
                                            </a>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-2 d-flex flex-column align-self-center">
                            <input id="@("checkVisible" + i)" type="checkbox" name="checkall" asp-for="@Model.BookChecks[i]" class="form-control" onclick="checkChange('@i')" />
                        </div>
                    </div>
                }
                <page-link page-model="Model.PageViewModel" page-action="Index"></page-link>
            }
        </div>

        <div class="col-12 col-md-4 pl-md-3">
            <form asp-controller="Cluster" asp-action="ClusteringResults" method="post" enctype="multipart/form-data">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row justify-content-between align-items-center mb-2">
                        <div>Количество кластеров</div>
                        <div><input asp-for="K" class="form-control" /></div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-2">
                        <div>Использовать ML.Net</div>
                        <div class="ml-3"><input asp-for="MLNet" type="checkbox" style="width: 40px; height: 40px;" class="form-control ml-0 d-inline-block" /></div>
                        @for (int i = 0; i < Model.Books.Count; i++)
                        {
                            <input asp-for="BookIds" value="@Model.Books[i].BookId" hidden />
                            <input id="@("checkHidden" + i)" name="BookChecksInt" asp-for="BookChecksInt" value="@((Model.BookChecks[i]) ? 1 : -1)" hidden />
                        }
                    </div>
                </div>
                <button type="submit" class="rounded btn-dark">Кластеризовать</button>
            </form>

            <hr color="black" />
            <h1>Загрузить тестовые данные:</h1>
            <div class="d-flex flex-column">
                <div>
                    <form asp-controller="Cluster" asp-action="LoadData" method="post">
                        <input asp-for="LoadDataFrom" value="1" hidden />
                        <button asp- type="submit" class="rounded btn btnPush btn-success mb-2" style="width: 100%;">Малый набор: 7 книг; 2 автора.</button>
                    </form>
                </div>
                <div>
                    <form asp-controller="Cluster" asp-action="LoadData" method="post">
                        <input asp-for="LoadDataFrom" value="2" hidden />
                        <button type="submit" class="rounded btn btnPush btn-primary mb-2" style="width: 100%;">Средний набор: 16 книг; 2 автора.</button>
                    </form>
                </div>
                <div>
                    <form asp-controller="Cluster" asp-action="LoadData" method="post">
                        <input asp-for="LoadDataFrom" value="3" hidden />
                        <button type="submit" class="rounded btn btnPush btn-danger mb-2" style="width: 100%;">Большой набор: 25 книг; 3 автора.</button>
                    </form>
                </div>
                <div>
                    <form asp-controller="Cluster" asp-action="LoadData" method="post">
                        <input asp-for="LoadDataFrom" value="4" hidden />
                        <button type="submit" class="rounded btn btnPush btn-warning mb-2" style="width: 100%;">Мега набор: 50 книг; 6 авторов.</button>
                    </form>
                </div>
            </div>

            <form asp-controller="Cluster" asp-action="DeleteAll" method="post">
                <button type="submit" class="rounded btn btnPush btn-dark mb-2 mt-3">Очистить всё</button>
            </form>

        </div>

        <div class="col-12 col-md-4 pl-md-3">
            <div class="row no-gutters mt-2">
                <div class="col">
                    <button class="btn btn-primary" onclick="showAdd()">Добавление</button>
                </div>
                <div class="col">
                    <button class="btn btn-danger" onclick="showDelete()">Удаление</button>
                </div>
            </div>

            <div id="add" class="mt-2">
                <form asp-controller="Cluster" asp-action="" method="post">
                    <p>Добавление</p>
                    <button type="submit" class="rounded btn btn-dark">Добавить</button>
                </form>
            </div>
            <div id="delete" class="mt-2" style="display:none;">
                <form asp-controller="Cluster" asp-action="" method="post">
                    <p>Удаление</p>
                    <button type="submit" class="rounded btn btn-dark">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function showAdd() {
            document.getElementById("add").style.display = "block";
            document.getElementById("delete").style.display = "none";
        }

        function showDelete() {
            document.getElementById("delete").style.display = "block";
            document.getElementById("add").style.display = "none";
        }

        function checkChange(number) {
            document.getElementById("checkHidden" + number).value *= -1;
        }

        function ChangeAll() {
            var boolValue = document.getElementsByClassName("chk-all")[0].checked;
            var listOfInputs = document.getElementsByName("BookChecksInt");

            for (var i = 0; i < listOfInputs.length; i++) {
                if (boolValue)
                    listOfInputs[i].value = 1;
                else
                    listOfInputs[i].value = -1;
            }
        }

        $(document).on('change', 'input[type=checkbox]', function () {
            var $this = $(this), $chks = $(document.getElementsByName(this.name)), $all = $chks.filter(".chk-all");

            if ($this.hasClass('chk-all')) {
                $chks.prop('checked', $this.prop('checked'));
            } else switch ($chks.filter(":checked").length) {
                case $all.prop('checked'):
                    $all.prop('checked', false).prop('indeterminate', false);
                    break;
                case $chks.length - !!$this.prop('checked'):
                    $all.prop('checked', true).prop('indeterminate', false);
                    break;
                default:
                    $all.prop('indeterminate', true);
            }
        });
    </script>
}