﻿@using MyLib.ViewModels.Tag;
@model List<BookTagsViewModel>
@{
    ViewBag.Title = "Изменить роль пользователя";
    var tagId = ViewBag.tagId;
    var tagName = ViewBag.tagName;
}

<div class="container myCase">
    <h1>Книги с тегом <text class="font-weight-bold">@tagName</text></h1>
    <form method="post" asp-controller="Tag" asp-action="AddTagsToBook">
        <div class="card">
            <div class="card-header">
                <h4>Добавьте или удалите тег у данной книги</h4>
            </div>
            <div class="card-body">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="form-check m-1">
                        <input type="hidden" asp-for="@Model[i].BookId" />
                        <input type="hidden" asp-for="@Model[i].BookTitle" />
                        <input type="checkbox" asp-for="@Model[i].IsSelected"
                                class="form-check-input p-2" />
                        <label class="form-check-label">@Model[i].BookTitle (@Model[i].BookAuthor)</label>
                    </div>
                }
            </div>
            <div class="card-footer">
                <input type="submit" value="Подтвердить изменения" class="btn btn-primary" />
                <a asp-action="EditTag" asp-route-id="@tagId" class="btn btn-dark">Назад</a>
            </div>
        </div>
    </form>
</div>