﻿@using MyLib.Data.Models
@model MyLib.ViewModels.Tag.TagViewModel
@{
    ViewBag.Title = "Создать новый тег";
}

<div class="container myCase">
    <h1>Создать новый тег</h1>
    <div class="col-md-8">
        <form method="post" asp-controller="Tag" asp-action="CreateTag">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="font-weight-bold">Название тега</label>
                <input class="form-control" asp-for="Name" />
                <span class="text-danger field-validation-valid" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="font-weight-bold">Тип тега</label>
                <select class="form-control custom-select mr-sm-2" asp-for="Type" asp-items="Html.GetEnumSelectList<TagType>()">
                    <option selected>Выберите тип тега...</option>
                </select>
                <span class="text-danger field-validation-valid" asp-validation-for="Type"></span>
            </div>
            <div class="p-2">
                <button type="submit" class="btn btn-primary">Создать</button>
                <a asp-action="Index" class="btn btn-dark">Назад</a>
            </div>
        </form>
    </div>
</div>
