﻿@model MyLib.ViewModels.Tag.TagViewModel
@using MyLib.Data.Models
@{
    ViewBag.Title = "Редактировать текущий тег";
}

<div class="container myCase">
    <h1>Редактировать текущий тег</h1>
    <form method="post" asp-controller="Tag" asp-action="EditTag">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row no-gutters">
            <label class="col-sm-2 col-form-label" asp-for="Id"></label>
            <div class="col-md-2">
                <input class="form-control" asp-for="Id" disabled />
            </div>
        </div>
        <div class="form-group row no-gutters">
            <label class="col-sm-2 col-form-label" asp-for="Name">Название тега</label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Name" />
            </div>
            <span class="text-danger field-validation-valid" asp-validation-for="Name"></span>
        </div>
        <div class="form-group row no-gutters">
            <label class="col-sm-2 col-form-label" asp-for="Type">Тип тега</label>
            <div class="col-sm-10">
                <select class="form-control custom-select mr-sm-2" asp-for="Type" asp-items="Html.GetEnumSelectList<TagType>()">
                    <option selected>Выберите тип тега...</option>
                </select>
            </div>
            <span class="text-danger field-validation-valid" asp-validation-for="Type"></span>
        </div>
        <div class="form-group row no-gutters">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Подтвердить изменения</button>
                <a asp-action="Index" class="btn btn-dark">Назад</a>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header">
                <h4>Список книг с этим тегом</h4>
            </div>
            <div class="card-body">
                @if (Model.Books.Any())
                {
                    foreach (var book in Model.Books)
                    {
                        if (book == null)
                        {
                            continue;
                        }
                        <div class="smallIndent">
                            <a asp-controller="Book" asp-action="Detail" asp-route-id="@book.BookId">
                                <img class="booksImageCell" style="max-width: 50%; max-height: 30% !important" src="@book.BookImageUrl" />
                            </a>
                        </div>
                    }
                }
                else
                {
                    <h5 class="card-title">На данный момент нет книг с таким тегом</h5>
                }
            </div>
            <div class="card-footer">
                <a asp-controller="Tag" asp-action="AddTagsToBook" asp-route-id="@Model.Id"
                   class="btn btn-primary">Добавить или убрать тег</a>
            </div>
        </div>
    </form>
</div>