﻿@using MyLib.Data.Models
@model IEnumerable<Tag>
@{
    ViewBag.Title = "Менеджер тегов";
}

<div class="container myCase">
    <h1>Менеджер тегов</h1>
    <div class="row no-gutters">
        <div class="col-md-6">
            @if (Model.Any())
            {
                <a class="btn btn-primary mb-2" asp-action="CreateTag">Создать тег</a>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Название</th>
                            <th>Тип</th>
                            <th>Управление</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var tag in Model)
                        {
                            <tr>
                                <td>@tag.Id</td>
                                <td>@tag.Name</td>
                                <td>@tag.Type</td>
                                <td>
                                    <form method="post" asp-action="DeleteTag" asp-route-id="@tag.Id">
                                        <a asp-action="EditTag" asp-route-id="@tag.Id"
                                            class="btn btn-success mt-2 mb-2">
                                            Изменить
                                        </a>
                                        <button type="submit" class="btn btn-danger"
                                                onclick="return confirm('Вы точно хотите удалить тег: &quot;@tag.Name&quot;?')">
                                            Удалить
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="card">
                    <div class="card-header">
                        Теги отсутствуют. Добавьте первый тег.
                    </div>
                    <div class="card-body">
                        <a class="btn btn-primary" asp-action="CreateTag">Создать тег</a>
                    </div>
                </div>
            }
        </div>
    </div>     
</div>